<%- include ('./otherheader.ejs') %>
<style>

  @media  screen  and  (max-width: 991px){
  
  .left{
  
    margin-left: 35px;
    margin-top: 163px; 
  
  }


.vrc{
      margin: 11px;
}


  .left1{
    margin-left: -29px;  
  }  
.ima{

margin-top: 142px;


} 


.la{

width:235px;  
}
  }


  
 
</style>
  <body style="background-color:aliceblue">
<script>
    
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">


<div class="col-lg-12">
    
    <!-- <h1  style="text-align:center; color:#8412b1d5; " class="mt-2" style="margin-top: 40%;">About Us </h1> -->
    <!-- <h1 class="text-primary" style="text-align:center;">About Us</h1> -->

</div>
<div class="container">
<div style="  font-family: 'Nunito', sans-serif;" class="row  vrc">
  <div class="col-lg-6 ">
    <img src="img/about.png" style="margin-top: 80px; " class="ima">
    </div>
    <div class="col-lg-6 mt-5">
        <!-- <h2 style="font-family:'Merriweather', serif;">About Company Page</h2><br> -->
      <p1 style="color: black; font-size: 20px; " ><small> DealsAaj is a new e-marketplace platform Start-up based in Bilaspur
        Chhattisgarh India, with the idea and motivation to revolutionize the
        e-marketplace and bring the users the virtual experience of shopping
        from home. <br> A chance to all users whether seller or buyer to visualise
        the whole experience virtually. <br>
        Easy of shopping made easy and selling easier.
        No middle men No commission No extra charges & free Delivery,
        with No conditions applied is our resolution.<br>
        And for our each happy buyer Free Coupons too so They reach They
        redeem & repeat. <br>
        DealsAaj is operating in 50+ cities in 6 States With the team of 1000+
        energetic and motivated minds our goal is to make todays( Modern
        Saudagars ) 21st century's merchants to have a Bina Shutter Ki
        Dukaan dream. <br>
        Sell & Serve to anyone anywhere in this country, on your own
        conditions like no one else. <br>
        You see, they sell, we deliver it for free pan India, and it’s that easy. <br>
        Or guess what we show them your business, they see it they like it,
        we give your details & address and show up at your business
        (footfall).</p><br></small>
    <!-- <a href="#">  </p>Contact information - info@dealsaaj.com</p> </a> -->
      <br>
    </div>
    <div id="about" class="container-fluid"  style="background-color:  rgb(124 88 88 / 10%);" >
      <div class="row ml-3  mt-3">  
        <div class="col-lg-6 mt-4"> 
          <h2 class="text-primary"> <strong> Our Vision </strong></h2><br>  
          <h6 style="color: black;" > 
            <strong> Vision:- </strong> Our mission is to bring revolution in the digital marketplace and bring all the local shops and service providers on one platform where there is no middleman consumer can directly buy from the seller without paying any extra charges.
          </h6>
        </div>
        <div class="col-lg-6">
          <img src="img/vision.png"   class="left1" style="margin-top: -15px;">
        </div>
      </div>
    </div>
<div class="row container mt-3" >
    <div class="col-lg-6 mt-4 ">
      <img src="img/mission.png " class="mb-3" >
    </div>
    <div class="col-lg-6 left ">
        <h2 class="text-primary" > <strong> Our Mission </strong></h2><br>
      <h6 style="color: black; font-size: 17px; "> <strong> Mission:- </strong>We want to create a common market (E-market) where all the local retailers/shopkeepers and services providers display their products/services, <br><br> Without worrying about cost of Digital Infra Structure.
      </h6>
    </div>
</div>  


<div id="about" class="container-fluid"  style="background-color:  rgb(124 88 88 / 10%);" >
  <div class="row ml-3  mt-3">
    <div class="col-lg-6 mt-4">
      <h2 class="text-primary"> <strong> Reach Repeat Redeem </strong></h2><br>
      <h6 style="color: black;" > <strong> Reach:- </strong>DEALSAAJ platform will provide reach to the merchant and    users. <br><br>

       <strong> Redeem:- </strong>Offers & coupon.<br><br>
        
      <strong> Repeat:- </strong>Every time merchant and users come on platform with some expectation ,once it is fulfilled they are happy and will be the repeat users.</small>
        </h6><br>
      
      
    </div>
    <div class="col-lg-6">
      <img src="img/reach.png " class="left1" style="margin-top: -15px;">
    </div>
  </div>
</div>

<div class="row container mt-3 ">
    <div class="col-lg-6 mt-4">
      <img src="img/aim.png " style="margin-top: 15-px;" class="mb-3la">
    </div>
    <div class="col-lg-6 left ">
        <h1 class="text-primary"> <strong> Our Aim </strong></h1><br>
      <h6 style="color: black;">Reaching all the customer and creating a brand value by providing best offers in every segments. <br><br>
        Our mission is to provide our merchants with a nationwide reach and uplift their business. <br><br>To become most trusted brand in india.  <br>Creating a pool of potential users for the enterprises.  </h6>
      
 
    </div>
</div>
 
<!-- section 2 -->


<div class="container mt-5 mb-3">
    <div class="row">
<div class=" col-lg-4 mt-2 ">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center; color: black;"> <strong> Why we </strong>
      
      <img src="img/whywe.png"   style="width: 40px;" >
      
      
      </h4>

      <p class="card-text">We want to connect local sellers and buyers from across different parts of India, not just limited to their cities. We want to give them a platform where they can reach out to a large number of sellers, find the best-suited offer which can be redeemed at the counter or online.

      </p>
      
    </div>
  </div><div class=" col-lg-4 mt-2 "     >
    <div class="card-body">
      <h4 class="card-title" style="text-align:center; color: black;"  > <strong> Who we are </strong>
        <img src="img/whowe.png"   style="width: 40px;" >
      </h4>
      
       
     
      <p class="card-text">Dealsaaz is an e-marketplace platform where local merchants and users can interact directly. Helping local merchants to boost their business online and offline thereby offering a platform where users can get the best nearby deal with one tap.

      </p>
      
    </div>
  </div>
  <div class="  col-lg-4 mt-2 ">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center; color: black;" > <strong>Where we are</strong>
      
        <img src="img/wherewe.png"   style="width: 40px;" >
      
      </h4>
     <p>We are currently present in Chhattisgarh, Madhya Pradesh, Bihar, Jharkhand, Uttar Pradesh & West Bengal. Soon we will be expanding to 500+ cities.
    </p>
    </div>
  </div>



    </div>
</div>




<!-- end -->
  
</div>
</div>
  </body>
</html>

<%- include ('./footer.ejs') %>