<%- include ('./header.ejs') %>

        <!-- End of Header -->


        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Page Header -->
           
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
        
            <!-- End of Breadcrumb -->
            
            <!-- Start of Page Content -->
            <div class="page-content">
                <div class="container">
                    <section class="introduce mb-10 pb-10" style="margin-top: 70px;">
                        <h2 class="title title-center">
                           About US
                        </h2>
                        <p class=" mx-auto text-center">Dealsaaj is a team of 100+ energetic and experience team who makes it one of the fastest growing E-commerce platforms as well as in offline platform in the populous couponing space. With the
							offering of Exclusive and lightning deals we help our customers to get the best value for each penny 
							spent and saving money while shopping</p>
                        <figure class="br-lg">
                            <img src="/wolmart/assets/images/pages/about_us/1.jpg" alt="Banner" 
                                width="1240" height="540" style="background-color: #D0C1AE;" />
                        </figure>
                    </section>

                    <section class="customer-service mb-7">
                        <div class="row align-items-center">
                            <div class="col-md-6 pr-lg-8 mb-8">
                                <h2 class="title text-left">We Provide Continuous &amp; Kind Service for Customers</h2>
                                <div class="accordion accordion-simple accordion-plus">
                                    <div class="card border-no">
                                        <div class="card-header">
                                            <a href="#collapse3-1" class="collapse">Why we</a>
                                        </div>
                                        <div class="card-body expanded" id="collapse3-1">
                                            <p class="mb-0">
		We are currently present in Chhattisgarh, Madhya Pradesh, Bihar, Jharkhand, Uttar Pradesh & West 
Bengal. Soon we will be expanding to 500+ cities.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse3-2" class="expand">Who we are?</a>
                                        </div>
                                        <div class="card-body collapsed" id="collapse3-2">
                                            <p class="mb-0">
												Dealsaaj is an e-marketplace platform where local merchants and users can interact directly. Helping 
local merchants to boost their business online and offline thereby offering a platform where users 
can get the best nearby deal with one tap.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse3-3" class="expand">Where we are</a>
                                        </div>
                                        <div class="card-body collapsed" id="collapse3-3">
                                            <p class="mb-0">
                                                We are currently present in Chhattisgarh, Madhya Pradesh, Bihar, Jharkhand, Uttar Pradesh & West 
Bengal. Soon we will be expanding to 500+ cities.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-8">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/2.jpg" alt="Banner"
                                        width="610" height="500" style="background-color: #CECECC;" />
                                </figure>
                            </div>
                        </div>
                    </section>

             
                </div>

                <section class="boost-section pt-10 pb-10">
                    <div class="container mt-10 mb-9">
                        <div class="row align-items-center mb-10">
                            <div class="col-md-6 mb-8">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/3.jpg" alt="Banner"
                                        width="610" height="450" style="background-color: #9E9DA2;" />
                                </figure>
                            </div>
                            <div class="col-md-6 pl-lg-8 mb-8">
                                <h4 class="title text-left">Careers</h4>
                                <p class="mb-6">Dealsaaj strives to be the best. We attract the best employees and help them learn, grow and realize 
									their dreams through mentoring and other career development assistance.</p>

									<p class="mb-6">As part of our team, we will help you achieve your greatest potential. We will find the perfect place 
										for your skills and interest in our organization and the world.</p>



										<h4 class="title text-left">We Are Hiring!</h4>
										<p class="mb-6">Dealsaaj is always on the lookout for talented people. Are you interested in pioneering and breaking 
											new ground in the industry? If you're excited by the prospect of working and learning within an 
											atmosphere of innovation and growth, then you'll fit right in.</p>
		
											<p class="mb-6">Our people come from different backgrounds and walks of life. They enjoy working in an inclusive, 
												welcoming environment where they are inspired by those around them, and inspire others alike.</p>

                            </div>
                        </div>

                 
                    </div>
                </section>

                <section class="member-section mt-1 pt-1 mb-10 pb-4">
                    <div class="container">
                        <h4 class="title title-center mb-3">Join us and help create history!</h4>
                     
                        <div class="owl-carousel owl-theme row cols-xl-4 cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                            'nav': false,
                            'dots': true,
                            'margin': 20,
                            'responsive': {
                                '0': {
                                    'items': 1
                                },
                                '576': {
                                    'items': 2
                                },
                                '768': {
                                    'items': 3
                                },
                                '992': {
                                    'items': 4
                                }
                            }
                        }">
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/4.jpg" alt="Member" width="295" height="332" />
                                    
                                </figure>
                                <div class="member-info text-center" style="margin-top: 20px;">
                                    <h4 class="member-name">Software Developers</h4>
                          
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/5.jpg" alt="Member" width="295" height="332" />
                                  
                                </figure>
								<div class="member-info text-center" style="margin-top: 20px;">
                                    <h4 class="member-name">Business Development Executives</h4>
                          
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/6.jpg" alt="Member" width="295" height="332" />
                                   
                                </figure>
                                <div class="member-info text-center" style="margin-top: 20px;">
                                    <h4 class="member-name">Human Resource Managers</h4>
                          
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/7.jpg" alt="Member" width="295" height="332" />
                                   
                                </figure>
								<div class="member-info text-center" style="margin-top: 20px;">
                                    <h4 class="member-name">Account Managers</h4>
                          
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
<%- include ('./footer.ejs') %>
      