<%- include ('./header.ejs') %>

<section class="inner-page-banner py-5 bg-gradient-primary">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h6 class="text-uppercase text-warning font-weight-normal mb-0"></h6>
<h1 class="text-white mb-3"><span class="font-weight-bold">About</span> Us</h1>
</div>
</div>
</div>
</section>
</div>
<div class="section-padding">
<div class="container py-lg-4">
<div class="row">
<div class="col-md-8 mx-auto">
<div class="bg-white p-5 shadow-sm rounded">
<div id="intro" class="mb-4">
<div class="mb-3">
<h2 class="h5 text-primary">Introduction</h2>
</div>
<p>DealsAaj is a new e-marketplace platform startup based in bilaspur chhattisgarh, with the idea and motivation to revolutionize the e-marketplace and bring the users the virtual experience of shopping from home. A chance to all users whether seller or buyer to visualise the whole experience virtually. 
    Easy of shopping made easy and selling easier.
    No middle men No commission No extra charges, with No conditions applied is our resolution.
    And for our each happy buyer Free Coupons too so They reach They redeem & repeat.
    
    Contact information - info@dealsaaj.com.</p>

</div>
</div>
</div>
</div>
</div>

</div>
<%- include ('./footer.ejs') %>
