

<%- include ('./header.ejs') %>

<style>


    .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 42px;
      text-align: center;
      vertical-align: middle;
      padding: 11px 0;
      background: #eee;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .value-button:hover {
      cursor: pointer;
    }
    
    form #decrease {
      margin-right: -4px;
      border-radius: 8px 0 0 8px;
    }
    
    form #increase {
      margin-left: -4px;
      border-radius: 0 8px 8px 0;
    }
    
    form #input-wrap {
      margin: 0px;
      padding: 0px;
    }
    
    input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 40px;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    </style>

    
<section class="bg-gradient-primary section-padding">
<div class="container">
<div class="row py-lg-5">
<div class="col-md-6 mx-auto text-center">
<h1 class="text-white mb-3">My Cart</h1>

</div>
</div>
</div>
</section>
<section class="offer-dedicated-body section-padding">
<div class="container">
<div class="row pt-lg-4">
<div class="col-lg-8">
<div class="offer-dedicated-body-left">
<div class="rounded bg-white shadow-sm p-4 mb-4">



    <table class="table table-bordered">
        <thead>
        <tr>
        <th class="product-name"><span>Product</span></th>
        <th>Name</th>
        <th class="product-price"><span>Price</span></th>
        <th class="product-quantity"><span>Quantity</span></th>
        <th class="product-subtotal"><span>Subtotal</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="product-thumbnail">
        <div class="p-relative">
        <a href="/product?id=69">
        <figure>
        <img src="https://dealsaaj.com/images/1646482476311.jpg" alt="product" style="width: 50px;height: 50px;" width="300" height="338">
        </figure>
        </a>
        <!-- <button type="submit" class="btn btn-close">
        <a href="/delete?id=88">
        <i class="fas fa-times"></i>
        </a>
        </button> -->
        </div>
        </td>
        <td class="product-name">
        <a href="/product?id=69">
        Sweet corn Pizza
        </a>
        </td>
        <td class="product-price"><span class="amount">Rs. 108</span></td>
        <td class="product-quantity">
            <form>
                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                <input type="number" id="number" value="0" />
                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
              </form>
        <!-- <div class="input-group"> -->
        <!-- <button class="quantity-minus btn btn-secondary w-icon-minus minus" categoryid="14" availablequantity="2" booking_id="69" number="" value="1" price="108">-</button>

        <input class=" form-control" type="text" value="1" style="width: 20px;">
        <button class="quantity-plus btn btn-secondary w-icon-plus add" categoryid="14" booking_id="69" number="" availablequantity="2" value="1" price="108" dp_price="">+</button> -->
        </div>
        </td>
        <td class="product-subtotal">
        <span class="amount">Rs. 108</span>
        </td>
        </tr>
        </tbody>
        </table>



</div>


</div>
</div>
<div class="col-lg-4">
<div class="rounded bg-white shadow-sm mb-4 p-4 upgrade-coin">


<h5 class="mb-4  text-gray-900">Cart Totals <a class="light-gray" href="#"></a></h5>
<div class="upgrade-coin-header clearfix">
<div class="float-left">
<h6 class="m-0 text-primary">Subtotal</h6>
</div>
<div class="float-right text-right pt-1">
<h6 class="m-0 text-primary"><i class="icofont-money"></i>108</h6>
</div>





</div>
<div class="upgrade-coin-header clearfix">
    <div class="float-left">
    <h6 class="m-0 text-primary">Shipping Charges</h6>
    </div>
    <div class="float-right text-right pt-1">
    <h6 class="m-0 text-primary"><i class="icofont-money"></i>500</h6>
    </div>
    
    
    
    
    
    </div>
<hr class="divider">
<div class="upgrade-coin-header clearfix">
    <div class="float-left">
    <h6 class="m-0 text-primary">Total</h6>
    </div>
    <div class="float-right text-right pt-1">
    <h6 class="m-0 text-primary"><i class="icofont-money"></i>608</h6>
    </div>
    
    </div>

<hr class="divider">

    
<a href="/checkout" class="btn btn-block btn-dark btn-icon-right btn-rounded  btn-checkout">
    Proceed to checkout<i class="w-icon-long-arrow-right"></i></a>

</div>

</div>
</div>
</div>
</section>
<section class="py-4 bg-white osahan-copyright">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="d-flex align-items-center justify-content-between">
<p class="m-0 text-secondary">Copyright © Your Website 2020</p>
<p class="m-0">
<a href="#" class="text-secondary">About Us</a>
&nbsp; · &nbsp;
<a href="#" class="text-secondary">Privacy Policy</a>
&nbsp; · &nbsp;
<a href="#" class="text-secondary">Terms &amp; Conditions</a>
</p>
</div>
</div>
</div>
</div>
</section>
</div>

</div>

</div>



<a class="scroll-to-top rounded-circle" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
<button class="close" type="button" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
<div class="modal-footer">
<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
<a class="btn btn-primary" href="https://askbootstrap.com/item/osahan-grocery-bootstrap4-responsive-light-template/">Logout</a>
</div>
</div>
</div>
</div>

<script src="/new_design/vendor/jquery/jquery.min.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>
<script src="/new_design/vendor/bootstrap/js/bootstrap.bundle.min.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>

<script src="/new_design/vendor/jquery-easing/jquery.easing.min.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>

<script src="/new_design/vendor/select2/js/select2.min.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>

<script src="/new_design/vendor/owl-carousel/owl.carousel.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>

<script src="/new_design/js/custom.js" type="2fd896e76e66f47cb924a382-text/javascript"></script>
<script src="/new_design/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="2fd896e76e66f47cb924a382-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6e7d9423cd3d8a20","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar/membership.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:44:27 GMT -->
</html>