<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from technext.github.io/hvac/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 04:46:05 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="DealsaAaj | Channel Partner">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DealsAaj | Channel Partner </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;display=swap" rel="stylesheet">


<link rel="icon" type="image/png" href="/images/deal_logo.png">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/hvac/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/hvac/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="/"><img src="https://dealsaaj.com/images/deal_logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> info@dealsaaj.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>07969662400</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> info@dealsaaj.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>07969662400</span>
                            </div>
                            <div class="header__top__social">
                                <a href="https://www.facebook.com/dealsaaj/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/dealsaaj?t=HhOUbgqR21PA0vCdfNATvA&s=08"><i class="fa fa-twitter"></i></a>
                                <a href="https://youtube.com/channel/UCpY9qRgvTV_cjRwakeetAMA"><i class="fa fa-youtube"></i></a>
                                <a href="https://youtube.com/channel/UCpY9qRgvTV_cjRwakeetAMA"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="https://dealsaaj.com/images/deal_logo.png" style="width:80px ;" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/features">Features</a></li>
                               
                                <li><a href="/about-us">About</a></li>
                                <li><a href="/customer-support">Contact</a></li>
                            </ul>
                        </nav>
                       
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="/hvac/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero__text">
                        <div class="hero__text__title">
                            <span>The Fast Way To Grow Your Business</span>
                            <h2>With DealsAaj</h2>
                     <p style="color: white;">Reach New Heights In Business, Redeem New Opportunities & Repeat Your Profits Every Day!</p>
						</div>
                     
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="hero__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Join As a DealsAaj Partner</a>
                            </li>
                          
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="hero__tab__form">
                                    <h2><%=msg%></h2>
                                    <form action="/channel-partner/save" method="post">
                                        <div class="select-list">
                                            <div class="select-list-item">
                                                <p>Full Name</p>
                                               <input type="text" name="name" id="name" class="form-control">
                                            </div>
                                            <div class="select-list-item">
                                                <p>Email</p>
												<input type="email" name="email" id="email" class="form-control">

                                            </div>
                                            
                                          
                                        </div>
										<div class="car-price">
											<p>Mobile Number</p>
											<input type="number" name="number" id="number" class="form-control">

										</div>
                                        <div class="car-price">
											<p>Address</p>
											<input type="text" name="address" id="address" class="form-control">

                                        </div>
                                        <button type="submit" class="site-btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="hero__tab__form">
                                    <h2>Buy Your Dream Car</h2>
                                    <form>
                                        <div class="select-list">
                                            <div class="select-list-item">
                                                <p>Select Year</p>
                                                <select>
                                                    <option data-display=" ">Select Year</option>
                                                    <option value="">2020</option>
                                                    <option value="">2019</option>
                                                    <option value="">2018</option>
                                                    <option value="">2017</option>
                                                    <option value="">2016</option>
                                                    <option value="">2015</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Select Brand</p>
                                                <select>
                                                    <option data-display=" ">Select Brand</option>
                                                    <option value="">Acura</option>
                                                    <option value="">Audi</option>
                                                    <option value="">Bentley</option>
                                                    <<option value="">BMW</option>
                                                    <option value="">Bugatti</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Select Model</p>
                                                <select>
                                                    <option data-display=" ">Select Model</option>
                                                    <option value="">Q3</option>
                                                    <option value="">A4 </option>
                                                    <option value="">AVENTADOR</option>
                                                </select>
                                            </div>
                                            <div class="select-list-item">
                                                <p>Select Mileage</p>
                                                <select>
                                                    <option data-display=" ">Select Mileage</option>
                                                    <option value="">27</option>
                                                    <option value="">25</option>
                                                    <option value="">15</option>
                                                    <option value="">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="car-price">
                                            <p>Price Range:</p>
                                            <div class="price-range-wrap">
                                                <div class="price-range"></div>
                                                <div class="range-slider">
                                                    <div class="price-input">
                                                        <input type="text" id="amount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="site-btn">Searching</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Services</span>
                        <h2>What We Offer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="https://dealsaaj.com/img/cp/c/3.png" style="width:120px ;" alt="">
                        <h5>High Profit Return</h5>
                        <p style="min-height: 250px;">Becoming A Channel Partner With DealsAaj Is A Brilliant Decision. Our Partners Yield High Returns As We Share 20% Of The Profit On Each Merchant Onboarding With DealsAaj And The 3-Step Payment Plan Makes It Easy For You To Get Started With Us.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="https://dealsaaj.com/img/cp/c/6.png" style="width: 120px;" alt="">
                        <h5>Qualified Leads</h5>
                        <p style="min-height: 250px;">DealsAaj Team Will Provide All Our Partners With Qualified Leads Leading To Loyal Customers, Easing The Workload Of Our Partners. (:</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="https://dealsaaj.com/img/cp/c/1.png" style="width: 120px;" alt="">
                        <h5>Other Expenses</h5>
                        <p style="min-height: 250px;">We At DealsAaj Are Proud To Offer Our Support To The Hardworking Team At CP. We Will Be Providing The Rent And Staff Salaries For The Duration Of Their Stay. Thank You For All That You Do!.</p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="https://dealsaaj.com/img/cp/c/5.png" style="width: 120px;" alt="">
                        <h5>Support & Services</h5>
                        <p style="min-height: 250px;">DealAaj Always Tries To Help Our Channel Partners With Any Work-Related Problems They May Face. Our Team Never Ignores Your Problems And Tries To Provide Support & Solutions Of All Kinds.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Feature Section Begin -->
    <section class="feature spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="feature__text">
                        <div class="section-title">
                            <span>Join As A Channel Partner</span>
                            <h2>Who Is Our Channel Partner ?</h2>
                        </div>
                        <div class="feature__text__desc">
                            <p>As our local representatives, channel partners provide ground support and services on our behalf at selected locations. Our channel partners are the face of our company in their locality and play a vital role in helping us connect with our customers. Their scope of engagement is as follows</p>
                            <p>Promote DealsAaj in their Locality.</p>
                            <p>Provide Sales-Support in their Locations.</p>
                            <p>Understand and Study their market and make a strategy based on it.</p>
                            <p>Lead DealsAaj franchise in their locations as the plan is finalised between CP and DealsAaj.</p>
                            <p>The entire responsibility of that area lies within the Channel Partner.</p>

                        </div>
                       
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

  

  

    


    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="/hvac/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> 07969662400</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> info@dealsaaj.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="/images/deal_logo.png" alt="" style="width: 30%;"></a>
                        </div>
                        <p>DealsAaj is a new “one in all” e-marketplace, motivated to transform the online shopping into a transparent virtual experience. It empowers merchants to reach their peak as it brings buyers the transparency and feeling of physical shopping into their phones.</p>
                        <div class="footer__social">
                            <a href="https://www.facebook.com/dealsaaj/" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.facebook.com/dealsaaj/" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/dealsaaj/" class="google"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.instagram.com/dealsaaj/" class="skype"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Segments</h5>
                        <ul>
                            <li><a href="https://dealsaaj.com/segment/jewellery-shop"><i class="fa fa-angle-right"></i> Jewellery</a></li>
                            <li><a href="https://dealsaaj.com/segment/utensils"><i class="fa fa-angle-right"></i> Utensils</a></li>
                            <li><a href="https://dealsaaj.com/segment/clothing"><i class="fa fa-angle-right"></i> Clothing</a></li>
                            <li><a href="https://dealsaaj.com/segment/mobiles"><i class="fa fa-angle-right"></i> Mobile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Management Software</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Billing Software</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Inventory Software</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Store QR Code</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Important</h5>
                        <ul>
                            <li><a href="https://dealsaaj.com/terms-and-conditions"><i class="fa fa-angle-right"></i> Terms</a></li>
                            <li><a href="https://dealsaaj.com/terms-and-conditions"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
                            <li><a href="https://dealsaaj.com/terms-and-conditions"><i class="fa fa-angle-right"></i> Disclaimer</a></li>
                            <li><a href="https://dealsaaj.com/terms-and-conditions"><i class="fa fa-angle-right"></i> About Us</a></li>
                        </ul>
                     
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright © DealsAaj 2022</p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/hvac/js/jquery-3.3.1.min.js"></script>
    <script src="/hvac/js/bootstrap.min.js"></script>
    <script src="/hvac/js/jquery.nice-select.min.js"></script>
    <script src="/hvac/js/jquery-ui.min.js"></script>
    <script src="/hvac/js/jquery.magnific-popup.min.js"></script>
    <script src="/hvac/js/mixitup.min.js"></script>
    <script src="/hvac/js/jquery.slicknav.js"></script>
    <script src="/hvac/js/owl.carousel.min.js"></script>
    <script src="/hvac/js/main.js"></script>
</body>


<!-- Mirrored from technext.github.io/hvac/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 May 2022 04:46:40 GMT -->
</html>