
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DealsAaj | Channel Partner</title>
    <meta name='description' content="Join DealsAaj as a Channel Partner"/>
    <meta property='og:title' content="DealsAaj | Join DealsAaj as a Channel Partner"/>
    <meta property='og:type' content='website'/>
    <meta property='og:description' content='DealsAaj | Join DealsAaj as a Channel Partner'/>

	<script>
		gtag('event', 'conversion', {'send_to': 'AW-10903260341/qOLlCJLUksIDELWZis8o'});
	  </script>

    <style>        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
}
.section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
}
p.service_text{
  color:#cccccc !important;
  font-size:16px;
  line-height:28px;
  text-align:center;    
}
.section-head p, p.awesome_line{
  color:#818181;
  font-size:16px;
  line-height:28px;
  text-align:center;  
}

.extra-text {
    font-size:34px;
    font-weight: 700;
    color:#2f2f2f;
    margin-bottom: 25px;
    position:relative;
    text-transform: none;
}
.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}
.extra-text span {
    font-weight: 700;
    color:#672974;
}
.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border:5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover{
  background-image: linear-gradient(#672974, #c13268);
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
    background:#fff;
    border-radius:10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
    color:#fff;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item .icon {
    font-size: 40px;
    margin-bottom:25px;
    color: #f91942;   
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}
.item .feature_box_col_one{
    background:rgba(247, 198, 5, 0.20);
    color:#f91942
}
.item .feature_box_col_two{
    background:rgba(255, 77, 28, 0.15);
    color:#f91942
}
.item .feature_box_col_three{
    background:rgba(0, 147, 38, 0.15);
    color:#f91942
}
.item .feature_box_col_four{
    background:rgba(0, 108, 255, 0.15);
    color:#f91942
}
.item .feature_box_col_five{
    background:rgba(146, 39, 255, 0.15);
    color:#f91942
}
.item .feature_box_col_six{
    background:rgba(23, 39, 246, 0.15);
    color:#f91942
}
.item p{
    font-size:15px;
    line-height:26px;
}
.item h6 {
    margin-bottom:20px;
    color:#2f2f2f;
}
.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}
.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f91942;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}
.skills {
    padding-top:0px;
}
.skills .prog-item {
    margin-bottom: 25px;
}
.skills .prog-item:last-child {
    margin-bottom: 0;
}
.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius:20px;
    position: relative;
}
.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #f91942;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight:600;    
    color: #fff;
    background:rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}</style>


<!-- Global site tag (gtag.js) - Google Ads: 10903260341 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10903260341"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10903260341');
</script>

<!-- Bootstrap -->
    <link href="https://www.deccanrummy.com/landing/common/bootstrap.min.css" rel="stylesheet">
    <link href="/javascripts/landing.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="https://www.deccanrummy.com/landing/play-indian-rummy-game/images/favicon.ico" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg">

<!--- header -->
<header>
  <div class="navbar navbar-default headbg" style="height: 100px;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/images/dlogo.png" style="width: 80px;margin-top: 10px;"/></a> </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-main">
        
        </div>
        <p style="color: white;float: right;position: absolute;bottom: 40%;right: 0;margin-right: 20px;">Email : info@dealsaaj.com</p>

    </div>

  </div>

</header>
<!--- header end --->

<!--- banner --->
<div class="bannerbg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"style="margin-top:-10px;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1000">
          <!-- Indicators -->
         
          <!-- Wrapper for slides -->
          <div class="carousel-inner" id="langCarousel">
              <div class="active"><img src="/images/Landing_Page.png" alt="..." style="width: 100%; margin-top: 52px;height: 100%;"></div>
             </div>
      </div> </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: -10px;">
        <div>
          <section class="login-form">
              <form role="login" id="register-form" action="/channel-partner/save" method="post">
              <h2 style="font-family:'Times New Roman', Times, serif;color: white;">Join DealsAaj As a Partner</h2>
              <h4><%=msg%></h4>
               
			  <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" required>
                  <p id="regusernameerr" class="loginerrorr"></p>
				  <input type="email" name="email" id="email" class="form-control" placeholder="Email ID" required>
                  <p id="regpassworderr" class="loginerrorr"></p>
                  <input type="text" pattern="[7-9]{1}[0-9]{9}" onkeypress='validate(event)' maxlength="10" name="Whatsapp_number" id="whatsapp_number" class="form-control" placeholder="whatsapp Number" required >

                  <p id="regemailerr" class="loginerrorr"></p>

                  <select name="state" id="categoryid" class="form-control" required></select> 
                  <select name="city" id="subcategoryid" class="form-control" style="margin-top: 10px;" required></select>

				  <input type="text" name="address" id="address" class="form-control" placeholder="Address" required>
				
          <select name="investment" class="form-control" style="margin-top: 10px;">
          <option>Investment 8 Lac - 12 Lac</option>
          <option>Investment 12 Lac - 15 Lac</option>
          <option>Investment 15 Lac - 20 Lac</option>

          </select>



              <div class="pwstrength_viewport_progress"></div>
              <button type="submit" class="btn btn-lg btn-block redbtn" id="register-submit">Submit</button>
              <p style="color: white;font-family:'Times New Roman', Times, serif;">Note : Apply only those who run business</p>

            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- banner end --->

<!----------------------------- English ---------------------------->
<div class="content-1" style="background:#fff;" id="language">
  <h1 class="text-center" style="font-family:'Times New Roman', Times, serif;"><b><span style="color:#722A74;font-weight: bold;font-family:Times New Roman', Times, serif;">Deals</span><span style="color: #C03168;font-weight: bold;font-family: Times New Roman', Times, serif;">Aaj</span> - Channel Partner </b></h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 welcome" style="font-family:'Times New Roman', Times, serif ;">
	<h1>DealsAaj Is A New “One In All” E-Marketplace.</h1>
        <p>As our local representatives, channel partners provide ground support and services on our behalf at selected locations. Our channel partners are the face of our company in their locality and play a vital role in helping us connect with our customers. Their scope of engagement is as follows</p>
        
        <p style="font-weight:bold ;">Promote DealsAaj in your Locality.</p>
        <p style="font-weight:bold ;">Provide Sales-Support in their Locations.</p>
        <p style="font-weight:bold ;">Understand and Study their market and make a strategy based on it.</p>
        <p style="font-weight:bold ;">Lead DealsAaj franchise in their locations as the plan is finalised between CP and DealsAaj.</p>
        <p style="font-weight:bold ;">The entire responsibility of that area lies within the Channel Partner.</p>


      
  
  
  
        <!-- <ul style="font-size:16px;">
    <li style="margin-top: 20px;">Promote DealsAaj in their Locality.</li>
    <li>Provide Sales-Support in their Locations.</li>
    <li>Understand and Study their market and make a strategy based on it.</li>
    <li>Lead DealsAaj franchise in their locations as the plan is finalised between CP and DealsAaj.</li>
    <li>The entire responsibility of that area lies within the Channel Partner.</li>

  </ul>
    -->

		<br>
	</div>
  <div class="col-md-6 welcome text-center">
    <img src="https://images.pexels.com/photos/3184430/pexels-photo-3184430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-responsive img thumbnail" style="width: 100%;"/>
  
</div>
	 <div class="clearfix"></div>
	 </div>


   <div class="feat bg-gray pt-5 pb-5">
      <div class="row">
        <div class="section-head col-sm-12">
          <h1 class="text-center" style="font-family:'Times New Roman', Times, serif;"><b>Why Choose <span style="color:#722A74;font-weight: bold;font-family:Times New Roman', Times, serif;">Deals</span><span style="color: #C03168;font-weight: bold;font-family: Times New Roman', Times, serif;">Aaj</span> ? </b></h1>

        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span><img src="/images/training.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">Staff Training</h6>
            <p style="font-family:'Times New Roman', Times, serif;">The channel partner's ground team receives extensive training from us.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span><img src="/images/salary.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">Staff Salaries</h6>
            <p style="font-family:'Times New Roman', Times, serif;">A team of up to 12 people will be hired, and their salaries will be paid by DealsAaj.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">  <span><img src="/images/office-rent.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">Office Rent</h6>
            <p style="font-family:'Times New Roman', Times, serif;">DealsAaj shall also cover the cost of renting office space for the Channel Partner.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item">  <span><img src="/images/20-percent-share.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">20% Profit Share</h6>
            <p style="font-family:'Times New Roman', Times, serif;">We will be giving our Channel Partners a 20% cut on each Paid Onboarding.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span><img src="/images/accounts.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">Dedicated Accounts Manager</h6>
            <p style="font-family:'Times New Roman', Times, serif;">Our CP will always have the required support to ensure success and a smooth journey.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span><img src="/images/leads-2.png"></span>
            <h6 style="font-family:'Times New Roman', Times, serif;font-size: 18px;">Qualified Leads</h6>
            <p style="font-family:'Times New Roman', Times, serif;">We at DealsAaj will provide you with a steady stream of qualified leads every month</p>
          </div>
        </div>
      </div>
  </div>

 
 
	 <!-- <div class="row">

                            <div class="col-md-6 promos">
                              <h4><b>Salary </b></h4>
							  <img src="/images/3.jpeg" class="img-responsive img thumbnail" style="width: 100%;"/>
							  <p>A team of up to 12 members, And we will pay their salaries.</p>
							   </div>

							    <div class="col-md-6 promos">
                              <h4><b>Office Rent</b></h4>
							  <img src="/images/2.jpeg" class="img-responsive img thumbnail" style="width: 100%;"/>
							  <p>DealsAaj will also cover the cost of renting office space for the Channel Partner. This agreement can be amended as needed</p>
							   </div>
							   <div class="clearfix"></div>
							   <hr>


							    <div class="col-md-6 promos">
                              <h4><b>20 Percent Share</b></h4>
							  <img src="/images/6.jpg" class="img-responsive img thumbnail" style="width: 100%;"/>
							  <p>We will be paying a 20% share on each Paid Onboarding to our Channel Partners.</p>
							   </div>

							    <div class="col-md-6 promos">
                              <h4><b>Total Support</b></h4>
							  <img src="/images/1.jpeg" class="img-responsive img thumbnail" style="width: 100%;"/>
							  <p>We will provide the required and consistent support to ensure the success of our CP, which ensures a smooth and successful journey for our CP. 
							</p>
							   </div>
 </div> -->
 </div>

<!--- six steps start --->

<!--- six steps end --->
</div>
<!----------------------------- English end ---------------------------->



<!--- footer --->
<div class="f-bg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div>
          <p>© All Rights Reserved, 2022 | AFORMIT INDUSTRIES PVT LTD.<p>


        </div>
      </div>
    </div>
  </div>
</div>

<!--- footer end --->
<script src="https://www.deccanrummy.com/landing/play-indian-rummy-game/common/loginscriptfileland.min.js"></script>
<script>
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);

</script>
<script>
    $(document).ready(function() {
        if (window.params.lang == 'hindi') {
            $('#langCarousel').html("<div class='item active'><img  src='images/welcome-hindi.png' alt='...'></div>" +
                "<div class='item'><img src='images/get-25-hindi.png' alt='...'></div>" +
                "<div class='item'><img src='images/freeroll-hindi.png' alt='...'></div>" +
                "<div class='item'><img src='images/lb-hindi.png' alt='...'></div>");
            $('#language').empty().html('<div class="container">' +
                '<div class="row text-center">' +
                '<div class="col-md-12 welcome text-center">' +
                '<h1><b>डेक्कन रम्मी - ऑनलाइन रम्मी का अव्वल वेबसाइट</b></h1>' +
                '<p>डेक्कन रम्मी - भारत का श्रेष्ठ ऑनलाइन रम्मी वेबसाइट और भारतीय खिलाड़ियों का चहेता है | तकनीकी विशेषज्ञ के बेहतरीन कारीगरों द्वारा विकसित, यह डेक्कन रम्मी प्लॅटफॉर्म उन्नत ग्रॅफिक्स के साथ निर्मित किया गया है |</p>' +
                '<p>खेल खेल में पैसे और पुरस्कारों की वर्षा, आपको प्रति दिन मिलते रहेंगे | रम्मी खेलने की जानकारी यदि आपको ना हो, तो आपके लिए एक विशेष विभाग उपलब्द है, जहाँ आप उसके खेलने की प्रक्रिया और नियमों का स्पष्ट विवरण लिखित एवं वीडियो के माध्यम से जान सकते हैं | खेल में महरत हासिल करने के लिए, आप फ्री रोल्स खेल सकते हैं, जो आपको खेल की समझ और जानकारी के लिए पर्याप्त होगा | </p> ' +
                '<p>रम्मी जगत के सलतनत में आपको अनेक रूप मिलेंगे, जिसमे आप अपनी मन पसंद खेल का चुनाव कर खेल सकते हैं | यहाँ पैसों का बौछार और पुरस्कारों का मेला पूरे 365 दिन लगा रहता है | आप इसे कहीं भी और कभी भी खेल सकते हैं, बस अपने मोबाइल पर एप्लिकेशन डाउनलोड करें |</p> ' +
                '<p>आपके भाग्य का प्रवेश द्वार - केवल एक क्लिक दूर ! </p>' +
                '<br>' +
                '</div>' +
                '<div class="clearfix"></div>' +
                '</div>' +
                '<div class="row">' +
                '<div class="col-md-6 promos">' +
                '<h4><b>विशाल वेलकम बोनस - Rs.5000 प्राप्त करें </b></h4>' +
                '<img src="https://www.deccanrummy.com/landing/play-indian-rummy-game/images/welcome-s.jpg" class="img-responsive img thumbnail" style="width: 100%;"/>' +
                '<p>अपने 100% बोनस के साथ रम्मी खेलने का मजा दुगना करें |</p>' +
                '</div>' +
                '<div class="col-md-6 promos">' +
                '<h4><b>साइन अप करें और पाएँ Rs.25/-मुफ़्त</b></h4>' +
                '<img src="https://www.deccanrummy.com/landing/play-indian-rummy-game/images/25-s.jpg" class="img-responsive img thumbnail" style="width: 100%;"/> ' +
                '<p>मोबाइल नंबर वेरिफाइ करें और पाएँ Rs.25/-साइन अप बोनस बिल्कुल मुफ़्त |</p> ' +
                '</div> ' +
                '<div class="clearfix"></div> ' +
                '<hr> ' +
                '<div class="col-md-6 promos"> ' +
                '<h4><b>फ्री रोल टूर्नामेंट्स</b></h4> ' +
                '<img src="https://www.deccanrummy.com/landing/play-indian-rummy-game/images/freeroll-s.jpg" class="img-responsive img thumbnail" style="width: 100%;"/> ' +
                '<p>Rs.20 लाख की नकद राशि का प्राइज़ पूल प्रति महीना | बिना किसी जमा राशि के, आप इन फ्री रोल टर्नमेंट्स में भाग लेकर आप पैसे जीत सकते हैं |</p> ' +
                '</div> ' +
                '<div class="col-md-6 promos"> ' +
                '<h4><b>उच्च मूल्य के विशाल प्रमोशन्स </b></h4> ' +
                '<img src="https://www.deccanrummy.com/landing/play-indian-rummy-game/images/lb-s.jpg" class="img-responsive img thumbnail" style="width: 100%;"/> ' +
                '<p>साप्ताहिक लीडरबोर्ड, विशाल विशेष टूर्नमेंट में हिस्सा लेकर आप, अनेक उपहार जीत सकते हैं, जिन मे सोना, गाड़ी और आधुनिक गॅडजेट्स शामिल है | </p> ' +
                '</div> ' +
                '</div> ' +
                '</div>' +
                '<div style="margin-top: 20px;background: #f5f2f2;">' +
                '<div class="container">' +
                '<div class="row">' +
                '<div class="col-md-12 text-center why">' +
                '<h3><b>डेक्कन रम्मी सबकी चहेती क्यों ? </b></h3>' +
                '<br>' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p">' +
                '<p><i class="fa fa-check"></i> अधिकतम फ्री रोल टूर्नमेंट </p>' +
                '</div>' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p"> ' +
                '<p><i class="fa fa-check"></i> तेज रिडीम प्रक्रिया</p> ' +
                '</div> ' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p"> ' +
                '<p><i class="fa fa-check"></i> सकुशल और सुरक्षित</p> ' +
                '</div> ' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p"> ' +
                '<p><i class="fa fa-check"></i> कम रेक फीस</p> ' +
                '</div> ' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p"> ' +
                '<p><i class="fa fa-check"></i>  24/7 ग्राहक सेवा उपलब्धि </p> ' +
                '</div> ' +
                '<div class="col-md-4 col-sm-6 col-lg-4 col-xs-12 why-p"> ' +
                '<p><i class="fa fa-check"></i>  अधिकतम टूर्नमेंट खिलाड़ियों के लिए</p> ' +
                '</div> ' +
                '</div> ' +
                '</div><br> ' +
                '<div class="text-center"> ' +
                '<a href="https://www.deccanrummy.com/" class="bonus-btn">Join Now</a> ' +
                '</div> <div class="clearfix"></div><br><br> ' +
                '</div> ' +
                '</div>')
        }
    })


</script>
<script>
jQuery(document).ready(function() {
   $('.policy')                            // Filter: .stories
        .find('.privacy')                     // Filter: .stories .news
            .hide()                        // Hide all
            .end()                         // End current filter
        .find('.title')                    // Filter: .stories .title
            .click( function(){            // Set the onclick action
                $(this).siblings('.privacy')  // Filter: .stories .news (sibling of .title)
                .slideToggle();            // Toggle visibility
            });
});



function validate(evt) {
  var theEvent = evt || window.event;

  // Handle paste
  if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
  } else {
  // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
  }
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}


let categories = []
let subcategories= []


$.getJSON(`/api/get-state`, data => {
    categories = data
    fillDropDown('categoryid', data, 'Choose State', 0)
  
})


$.getJSON(`/api/get-cities  `, data => {
    subcategories = data
    fillDropDown('subcategoryid', [], 'Choose City', 0)
})


$('#categoryid').change(() => {
    const filteredData = subcategories.filter(item => item.stateid == $('#categoryid').val())
    console.log(filteredData)
    fillDropDown('subcategoryid', filteredData, 'Choose City', 0)
})


function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    $(`#${id}`).append($('<option>').val("").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(item.id).text(item.name))
        } else {
            $(`#${id}`).append($('<option>').val(item.id).text(item.name))
        }
    })
}







</script>
</body>
</html>
