<%- include ('./header.ejs') %>

<section class="inner-page-banner py-5 bg-gradient-primary">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h6 class="text-uppercase text-warning font-weight-normal mb-0"></h6>
<h1 class="text-white mb-3"><span class="font-weight-bold">Disclaimer</span></h1>
</div>
</div>
</div>
</section>
</div>
<div class="section-padding">
<div class="container py-lg-4">
<div class="row">
<div class="col-md-8 mx-auto">
<div class="bg-white p-5 shadow-sm rounded">
<div id="intro" class="mb-4">
<div class="mb-3">
<h2 class="h6 text-primary">About Us</h2>
</div>
<p>The domain name <a href="https://dealsaaj.com">www.dealsaaj.com</a> (the “Website”) is owned and
  operated by AFORMIT Industries Private Limited (CIN:
  U74999CT2022PTC012830) a Company incorporated under the
  provisions of the Companies Act, 2013, having its registered office at,
  1st Floor, ALS -4, Opposite Bhagwan Mangalam, Telephone Exchange
  Road, Bilaspur, Chhattisgarh- 495001(hereinafter referred to as the
  “DEALSAAJ”, “we”, “Our”, “us”).</p>
<p>We are providing E-market platform, Digital Infra-Structure branding,
  product promotion & marketing, and complete E-solution to its
  merchants (subscriber). Our platform creates a user interface that
  directly connects the user and merchant through that. The user can
  directly place it order or purchase goods or services from the
  merchants and directly make the payment to the merchants provided
  bank account. Any issues related to the return, refund or cancellation
  of ordered goods or services are directly settled by the user and
  merchant.</p>
<h6 class="text-primary">Website Disclaimer</h6>
<p>The information contained on this website is for general information
  purposes only. The information is provided by [www. Dealsaaj.com],
  owned & operated by AFORMIT Industries Private Limited. While we
  endeavour to keep the information up to date and correct, we make no
  representations or warranties of any kind, express or implied, about
  the completeness, accuracy, reliability, suitability or availability with
  respect to the website or the information, products, services, or
  related graphics contained on the website for any purpose. Any
  reliance you place on such information is therefore strictly at your
  own risk.</p>
<p>In no event will we be liable for any loss or damage including without
  limitation, indirect or consequential loss or damage, or any loss or
  damage whatsoever arising from loss of data or profits arising out of,
  or in connection with, the use of this website.
  </p>
  <p>Through this website, you are able to link to other websites which are
    not under the control of AFORMIT Industries Private Limited. We have
    no control over the nature, content, and availability of those sites. The
    inclusion of any links does not necessarily imply a recommendation or
    endorse the views expressed within them.</p>
<p>
  Every effort is made to keep the website up and running smoothly.
However, AFORMIT Industries Private Limited takes no responsibility
for, and will not be liable for, the website being temporarily
unavailable due to the nature of the internet or any technical issues
beyond our control.
</p>
<h6 class="text-primary">Logos and Trademarks Disclaimer</h6>
<p>All logos and trademarks of third parties referenced on
  www.dealsaaj.com are the trademarks and logos of their respective
  owners. Any inclusion of such trademarks or logos does not imply or
  constitute any approval, endorsement, or sponsorship of Aformit
  Industries Pvt. Ltd. by such owners. </p>

  <h6 class="text-primary">Contat Us</h6>
  <p>If you have any feedback, comments, requests for technical support or
    other inquiries, please contact us by email: info@dealsaaj.com</p>

</div>
</div>
</div>
</div>
</div>
</div>


<%- include ('./footer.ejs') %>
