<%- include ('./otherheader.ejs') %>

    <title>features</title>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> -->



    <style>



.zoom {
 
  transition: transform .5s;
  
}

.zoom:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}






/* fade in */

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

 /* border style  */




 


    </style>

  <div class="container fade-in">
    <div class="row mt-4">
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
          <div class="card" >
            <img class="card-img-top" src="/images/kb.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;">News Broadcasting</h5>
              <p class="card-text" >The app broadcast feature will be available to all our 
                subscribers where they can announce their offers, deals and any and all 
                the news related to their business. NOTE:- This will be filtered and monitored;
                 offensive posts shall have consequences.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4  zoom mt-2 " style="  border-radius: 6px;">
          <div class="card" style="height: 365px;">
            <img class="card-img-top" src="/images/pd.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"  style="text-align: center;">Exclusive Product Launch With Us</h5>
              <p class="card-text">Special Product Launch will be displayed in the section "Exclusive Deals and Offers" with not additional cost.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px;">
            <div class="card" style="height: 365px;">
                <img class="card-img-top" src="/images/pf.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size:18px;" >Portfolio Marketing</h5>
                <p class="card-text">We will provide you with an in-app portfolio generator that
                   will customise according to the
                    details put, enabling users to access your enterprise at one place.</p>
                
              </div>
            </div>
          </div>

          
      </div>
    </div>
    <div class="container">
      <div class="row mt-4" style="   border-radius: 6px;" >
        <div class="col-sm-4 zoom mt-2 ">
          <div class="card" style="height: 365px;">
            <img class="card-img-top" src="/images/cs.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;">Cross Sale</h5>
              <p class="card-text">Merchants can promote each other’s business by availing coupons. This idea is an innovation like no other
                 and this shall bring the business community
                  together and receive more engagement with the users.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px;" >
          <div class="card" style="height: 365px;">
            <img class="card-img-top" src="/images/pbb.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;">Management software</h5>
              <p class="card-text">DealsAaj tycoon app will have all the management software in the market made by us for you. For example,
                 The Khata Book that will assist you with Bookkeeping needs. 
                All of these software will be customised for each
                 shops according to their needs.
                </p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px;" >
            <div class="card" style="height: 365px;">
                <img class="card-img-top" src="/images/khata1.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size:18px;">Finance management app</h5>
                <p class="card-text">As many third part apps charge subscription fees for servicing your
                   financial needs, DealsAaj will provide all 
                   those services in within a single app.</p>
                
              </div>
            </div>
          </div>

          
      </div>
      </div>
      <div class="container">
      <div class="row mt-4">
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
          <div class="card" style="height: 365px;">
            <img class="card-img-top" src="/images/fd.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;">Internal / Free Delivery</h5>
              <p class="card-text">DealsAaj will provide free PAN India Industry standard delivery for smallest of the items.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
          <div class="card " style="height: 365px;">
            <img class="card-img-top" src="/images/khel.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;">Games for Deals & coupons</h5>
              <p class="card-text">DealsAaj app will have in app games that will let 
                both merchants and users to redeem coupons as a prize. No in app purchases or monetary transactions are introduced.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
            <div class="card" style="height: 365px;">
              <img class="card-img-top" src="/images/lt.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size:18px;" >LIVE PRODUCT TRACKING</h5>
                <p class="card-text">Product tracking is available on all the orders; notification and updates will be sent to users with estimated ETA.</p>
               
              </div>
            </div>
          </div>

          
      </div>
      </div>



      <!-- dm area  -->

<h3 style="text-align: center; " class="mt-3  mb-3"> <span style="color: #672974; "> DealsAaj Digital Marketing </span> <span style="color: #c13268;"> features for Merchants. </span> </h3>
      <div class="container">
        <div class="row mt-4">
          <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
            <div class="card   " style="height: 300px;">
             
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size: 18px;    "> <span style="color: #672974; ">Welcome posters  when you get on- </span> <span style="color: #c13268;" >boarded:- </span></h5>
                <p class="card-text" style=" font-size: 14px;">
                  DealsAaj Team enjoys your presence and to show our gratitude we
                  greet you with posters and creative that acknowledges your digital
                  presence with us and your new Virtual Store.
                  **(Refer to Disclaimers for terms of the above mention service)**</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
            <div class="card     " style="height: 300px;">
              
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-size:18px;   "> <span style="color: #672974; ">Weekly Posters </span> <span  style="color: #c13268;">and Videos:- </span></h5>
               <p class="card-text" style=" font-size: 14px;">
                  DealsAaj Team will Provide 8 posters and 2 videos for social media
                  on weekly basis to all the merchants based on their segments and
                  sectors. These are separated from Festive Posters and Videos.
                  </p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
              <div class="card     " style="height: 300px;">
        
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center; font-size:18px;   " > <span style="color: #672974; ">Festival</span> <span  style="color: #c13268;"> Posters:-</span></h5>
                  <p class="card-text" style=" font-size: 14px;">
                    DealsAaj team will provide you with timely Creative and posters
                    related to special occasions that you can forward to your dearly
                    customers and contacts.
                    </p>
                 
                </div>
              </div>
            </div>
  
            
        </div>
        </div>
<!-- 2nd -->
        <div class="container">
          <div class="row mt-4">
            <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
              <div class="card     " style="height: 300px;">
               
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center; font-size:18px;    "> <span style="color: #672974; ">Coupons and Offers will be </span> <span  style="color: #c13268;">highlighted on your profile:-</span></h5>
                 <p class="card-text" style=" font-size: 14px;">
                    
                    Coupons and offers will be highlighted on your website and app
                    profiles, that customers will have the first look on when they see you
                    or your segment</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
              <div class="card     " style="height: 300px;">
                
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center; font-size:18px;   ">  Send you latest updates <span style="color: #c13268; "> via notification:- </span> </h5>
                 <p class="card-text" style=" font-size: 14px;">
                   
                    Personalised notifications will be provided for your convenience,
                    App updates, website updates, event updates, offers for you.
                    DealsAaj team will provide it all.
                    
                    </p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                <div class="card     " style="height: 300px;">
          
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-size:18px;   " > <span style="color: #672974; "> Create your Social Media Page on</span> <span style="color: #c13268; "> Facebook & Instagram:- </span></h5>
                    <p class="card-text" style=" font-size: 14px;">
                     
                      DealsAaj Team will create your Social Media (Facebook &
                      Instagram) handle for your business that you will be moderating.
                      **(Note- These social media handles require otp that are provided by you(merchant) )
                      (In case of any data leak or misuse of personal data dealsaaj will not be held responsible for
                      that.)**
                      </p>
                   
                  </div>
                </div>
              </div>
    
              
          </div>
          </div>

          <!-- 3rd -->
          <div class="container">
            <div class="row mt-4">
              <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                <div class="card    " style="height: 300px;">
                 
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-size:18px;    "> <span style="color: #672974; "> Provide you Video tutorials on how </span>  <span style="color: #c13268; "> you can improve your
                      digital presence:-</span></h5>
                   <p class="card-text" style=" font-size: 14px;">
                    
                      DealsAaj team will provide you with general video tutorials to train
                      you on how to increase your digital presence.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                <div class="card      " style="height: 300px;">
                  
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-size:18px;   "> <span style="color: #672974; ">Provide you videos creative on  </span>  <span style="color: #c13268; ">  special occasions & festivals:- </span></h5>
                   <p class="card-text" style=" font-size: 14px;">
                     
                                DealsAaj team will provide you with timely Creative and posters
                                related to special occasions that you can forward to your dearly
                                customers and contacts. These can also be posted on your social
                                media handles that will increase your digital growth and user
                                engagement. 
                      </p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                  <div class="card     " style="height: 300px;">
            
                    <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size:18px;   " > <span style="color: #672974; "> Conduct events where you’ll get </span>  <span style="color: #c13268; "> exceptional user engagement:- </span> </h5>
                      <p class="card-text" style=" font-size: 14px;">
                      
                        DealsAaj team will create digital events every now and then that will
                        attract your customers and users to your shop on regular basis and
                        keep them engaged with you.
                        </p>
                     
                    </div>
                  </div>
                </div>
      
                
            </div>
            </div>
            <!-- 4th  -->
            <div class="container">
              <div class="row mt-4">
                <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                  <div class="card     " style="height: 330px;">
                   
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center; font-size:18px;    ">  <span style="color: #672974; "> Provide you user generated </span><span style="color: #c13268; "> reviews:-</span> </h5>
                     <p class="card-text" style=" font-size: 14px;">
                      
                        Reviews on DealsAaj tycoon app and DealsAaj website
                        (www.dealsaaj.com) are strictly monitored, that means we make
                        sure that the review you receive are genuine and up-to DealsAaj
                        standards that will help you grow naturally.
                        </p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                  <div class="card    " style="height: 330px;">
                    
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center; font-size:18px;   ">  <span style="color: #672974; ">Give weekly updates on apps and  </span> <span style="color: #c13268; "> other services:- </span></h5>
                     <p class="card-text" style=" font-size: 14px;">
                        
                        DealsAaj tycoon app has weekly and daily updates features that will
                        update you with everything that goes on our platforms and also
                        enables you to give alerts and updates regarding your business to
                        your customers the same way.
                        **(Above mentioned services is related to News broadcast service section that is present in the
                        DealsAaj Tycoon App)**
                        </p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                    <div class="card     " style="height: 330px;">
              
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-size:18px;   " >  <span style="color: #672974; "> Keep you updated with latest </span>   <span style="color: #c13268; "> market trends:- </span> </h5>
                       <p class="card-text" style=" font-size: 14px;">
                         
                          DealsAaj team keeps a sharp eye on the market that will bring you
                          all the latest updates and schemes that will attract your customers
                          to your business that you can apply.
                          
                          </p>
                       
                      </div>
                    </div>
                  </div>
        
                  
              </div>
              </div>
              <!-- 5th  -->
              <div class="container">
                <div class="row mt-4">
                  <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                    <div class="card     " style="height: 360px;">
                     
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-size:18px;    ">  <span style="color: #672974; ">Provide you virtual </span> <span style="color: #c13268; ">shop online:- </span></h5>
                       <p class="card-text" style=" font-size: 14px;">
                         
                          Our DealsAaj Tycoon app will be an exact digital replica of your
                          physical store that will give you the freedom of selling form
                          anywhere to anyone in just a few clicks. You can time your pickups
                          and deliveries that will give you the freedom that never happened
                          before.
                          **(above mentioned digital/virtual store is a DealsAaj tycoon app feature and products and
                          listings will be provided and updated by the merchant only. DealsAaj team does not moderate
                          those information)**
                          </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                    <div class="card      " style="height: 360px;">
                      
                      <div class="card-body">
       <h5 class="card-title" style="text-align: center; font-size:18px;   ">  <span style="color: #672974; "> Promote the best deals & offers on </span>  <span style="color: #c13268; ">
      our social media handles:- </span></h5>
                       <p class="card-text" style=" font-size: 14px;">
                         
                          DealsAaj gives you the freedom of posting your exclusive deals and
                          offers on our app that will reflect on our social media handles,
                          increasing your reach and visibility throughout the internet.
                          **(This will be only applicable when met with all of our terms and conditions. And only after
                          approved by our social media moderation team)**
                          </p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                      <div class="card     " style="height: 360px;">
                
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center; font-size:18px;   " >  <span style="color: #672974; ">  Promote your users review on our </span>  <span style="color: #c13268; ">social handles:- </span></h5>
                         <p class="card-text" style=" font-size: 14px;">
                         
                            Showcase your exceptional user ratings on our app that will reflect
                            on our social media handles.
                            **(These will be picked by DealsAaj team anonymously, No merchant shall ask or demand for
                            this service personally)**
                            
                            </p>
                         
                        </div>
                      </div>
                    </div>
          
                    
                </div>
                </div>
                <!-- 6th  -->
                <div class="container">
                  <div class="row mt-4">
                    <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                      <div class="card     " style="height: 300px;">
                       
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center; font-size:18px;    "> <span style="color: #672974; ">  We will also give tips & tricks for  </span> <span style="color: #c13268; ">
                             merchants benefits through 
                            newsletters:- </span> </h5>
                         <p class="card-text" style=" font-size: 14px;">
                           
                            Personalised newsletters for you. DealsAaj team will send
                            newsletters keeping you updated with the market trends to keep
                            your digital presence known.
                            **(These personalised letters are segment oriented not merchant, duly note)**</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                      <div class="card      " style="height: 300px;">
                        
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center; font-size:18px;   "> <span style="color: #672974; "> Provide support for any problems  </span> <span style="color: #c13268; ">
                             related to marketing 
                            perspectives:- </span> </h5>
                         <p class="card-text" style=" font-size: 14px;">
                           
                            Whenever you face problems digitally, we will provide you with
                            help/support ticket that will be acknowledged & resolved by the
                            DealsAaj team.
                            </p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 zoom mt-2 " style="  border-radius: 6px; ">
                        <div class="card     " style="height: 300px;">
                  
                          <div class="card-body">
                            <h5 class="card-title" style="text-align: center; font-size:18px;   " >  <span style="color: #672974; ">We will act as platform where you</span><span style="color: #c13268; "> can reach millions of users
                              from across India:-</span> </h5>
                           <p class="card-text" style=" font-size: 14px;">
                              
                              Our platform is live in six states and expanding non-stop all over
                              India. So you can have no limits to your business digitally.
                              
                              </p>
                           
                          </div>
                        </div>
                      </div>
            
                      
                  </div>
                  </div>

<!-- end  -->

<%- include ('./footer.ejs') %>
