<%- include ('./otherheader.ejs') %>
<html>
<head>
    <title>features</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



    <style>



.zoom {
 
  transition: transform .5s;
  
}

.zoom:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}






/* fade in */

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



    </style>
</head>
<body>
  <div class="container fade-in">
    <div class="row mt-5">
        <div class="col-sm-4 zoom " style="border-radius: 6px;">
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/kb.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">News Broadcasting</h5>
              <p class="card-text">In app broadcast feature will be available to all who
                has our subscription they can announce their offers
                deals and any news related to their business.
                NOTE:- This will be filtered and monitored
                Cast, religion, Political posts are punishable
                on our app and website.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4  zoom " style="  border-radius: 6px;">
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/pd.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"  style="text-align: center;">Exclusive Product Launch With Us</h5>
              <p class="card-text">Special Product Launch will be assisted to be with
                exclusive offers and deals related to it (like amazon
                and flipkart does) all this will be free no additional
                cost is levied.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom " style="  border-radius: 6px;">
            <div class="card" style="min-height: 400px;">
                <img class="card-img-top" src="/images/pf.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;" >Portfolio Marketing</h5>
                <p class="card-text">We will provide you with in app portfolio creator that
                  will automatically produce your portfolio with your
                  given information.</p>
                
              </div>
            </div>
          </div>

          
      </div>
    </div>
    <div class="container">
      <div class="row mt-5" style="   border-radius: 6px;" >
        <div class="col-sm-4 zoom ">
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/cs.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Cross Sale</h5>
              <p class="card-text">Merchants can promote each other’s by availing
                coupons to each other’s business.
                This idea is an self-innovation no other app does it till
                now and we are going to change it.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom " style="  border-radius: 6px;" >
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/pbb.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Management software</h5>
              <p class="card-text">DealsAaj tycoon app will have all the management
                software in the market made by us for you. That is, it’s
                all customised to merchants use process and be user
                friendly for them at the same time that will reduce
                their costing even more in managing a online business.
                </p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom " style="  border-radius: 6px;" >
            <div class="card" style="min-height: 400px;">
                <img class="card-img-top" src="/images/khata1.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Finance management app</h5>
                <p class="card-text">With the inclusion off new in app features
                  Finance management is one of it,
                  Whereas other apps will cost you a monthly
                  subscription of each & every app.</p>
                
              </div>
            </div>
          </div>

          
      </div>
      </div>
      <div class="container">
      <div class="row mt-5">
        <div class="col-sm-4 zoom " style="  border-radius: 6px; ">
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/fd.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Internal / Free Delivery</h5>
              <p class="card-text">Industry standard delivery is true as we can directly
                monitor our delivery staff and partners</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom " style="  border-radius: 6px; ">
          <div class="card" style="min-height: 400px;">
            <img class="card-img-top" src="/images/khel.jpg" alt="Card image" style="width:100%; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Games for Deals & coupons</h5>
              <p class="card-text">DealsAaj app will have in app games that will let both
                merchants and users to redeem coupons as a prize.
                No in app purchases are the or no in app monetary
                transactions are introduced.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 zoom " style="  border-radius: 6px; ">
            <div class="card" style="min-height: 400px;">
              <img class="card-img-top" src="/images/lt.jpg" alt="Card image" style="width:100%; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;" >LIVE PRODUCT TRACKING</h5>
                <p class="card-text">Track your Product that you bought online.
                  You’ll be able to know when where and how your
                  product is.</p>
               
              </div>
            </div>
          </div>

          
      </div>
      </div>




</body>

</html>

<%- include ('./footer.ejs') %>
