
<section class="footer section-padding">
    <div class="container">
    <div class="row py-lg-4">
    <div class="col-xl-2 col-sm-6">
    <div class="footer-brand">
    <img class="img-fluid" src="/new_design/images/logo.svg">
    </div>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6 class="text-gray-900">PRODUCTS</h6>
    <ul>
    <li><a href="#">Page Builder</a></li>
    <li><a href="#">UI Kit</a></li>
    <li><a href="#">Styleguide</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Changelog</a></li>
    </ul>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6 class="text-gray-900">SERVICES</h6>
    <ul>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Pagebuilder</a></li>
    </ul>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6 class="text-gray-900">CONNECT</h6>
    <ul>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Page Builder</a></li>
    <li><a href="#">UI Kit</a></li>
    <li><a href="#">Styleguide</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Support</a></li>
    </ul>
    </div>
    <div class="col-xl-4 col-sm-6">
    <h6 class="text-gray-900">Subscribe to our Newsletter</h6>
    <form class="form-inline newsletter-form mb-1">
    <input type="text" class="form-control mr-sm-2" placeholder="Enter your email">
    <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    <small><a href="#">Register now to get updates on <span class="text-info">Offers and
    Coupons</span></a></small>
    <div class="app mt-4 pt-2">
    <h6 class="text-gray-900">DOWNLOAD APP</h6>
    <a href="#">
    <img class="img-fluid" src="/new_design/images/google.png">
    </a>
    <a href="#">
    <img class="img-fluid" src="/new_design/images/apple.png">
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="py-4 bg-white osahan-copyright">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="d-flex align-items-center justify-content-between">
    <p class="m-0 text-secondary">Copyright © Your Website 2020</p>
    <p class="m-0">
    <a href="#" class="text-secondary">About Us</a>
    &nbsp; · &nbsp;
    <a href="#" class="text-secondary">Privacy Policy</a>
    &nbsp; · &nbsp;
    <a href="#" class="text-secondary">Terms &amp; Conditions</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </section>


    


<script src="/new_design/vendor/jquery/jquery.min.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>
<script src="/new_design/vendor/bootstrap/js/bootstrap.bundle.min.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>

<script src="/new_design/vendor/jquery-easing/jquery.easing.min.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>

<script src="/new_design/vendor/select2/js/select2.min.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>

<script src="/new_design/vendor/owl-carousel/owl.carousel.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>

<script src="/new_design/js/custom.js" type="a9247167be9f4949d4dddbc9-text/javascript"></script>
<script src="/new_design/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="a9247167be9f4949d4dddbc9-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6e7d942edc2689f6","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar/not-found.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:44:29 GMT -->
</html>