<section class="footer section-padding" style="background-color: white;">
    <div class="container">
    <div class="row">
     <div class="col-xl-2 col-sm-6">
    <div class="navbar-brand pt-0">
    <img class="img-fluid" src="/images/deal_logo.png" style="width: 100px;height:100px;">
    </div>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6>Segments</h6>
    <ul>
        <% const filteredData = result[0].filter(item => item.type == 'yes') %>

        <% for(i=0;i<filteredData.length;i++){%>
    <li><a href="/segment/<%=filteredData[i].seo_name%>"><%=filteredData[i].name%></a></li>
    <% } %>
  
    </ul>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6>SERVICES</h6>
    <ul>
        <li><a href="/exclusive-deals-and-offers">Exclusive Deals & Offers</a></li>
        <li><a href="/new-release">New Release</a></li>
        <li><a href="/channel-partner-login">Channel Partners</a></li>
        <li><a href="/agent-login">Agent Login</a></li>
        <li><a href="/vendor-login">Our Merchants</a></li>
    
        <!-- <li><a href="/disclaimer">Disclaimer</a></li> -->
        <li><a href="/customer-support">Customer Support</a></li>
    </ul>
    </div>
    <div class="col-xl-2 col-sm-6">
    <h6>Important Links</h6>
    <ul>
    <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/disclaimer">Disclaimer</a></li>
   
    </ul>
    </div>
    <div class="col-xl-4 col-sm-6">
        <h6 class="text-gray-900">Follow us on Social Media</h6>
    <form class="form-inline newsletter-form mb-1">
    <a href="https://api.whatsapp.com/send?phone=+919406435361"> <i href="" style="color: rgb(229, 236, 228);background-color: #25d366;" class="fa fa-whatsapp"></i></a>   
    <a href="https://www.facebook.com/dealsaaj/"> <i href="" style="color: white;" class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/dealsaaj/"> <i href="" style="color: white;" class="fa fa-instagram"></i></a>
    <a href="https://youtube.com/channel/UCpY9qRgvTV_cjRwakeetAMA"> <i href="" style="color: white;" class="fa fa-youtube"></i></a>
    <a href="https://twitter.com/dealsaaj?t=HhOUbgqR21PA0vCdfNATvA&s=08"> <i href="https://twitter.com/dealsaaj?t=HhOUbgqR21PA0vCdfNATvA&s=08" style="color: white;" class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/dealsaaj/"> <i href="" style="color: white;" class="fa fa-linkedin"></i></a>
    <a href="https://pin.it/3akxeGF"> <i href="" style="color: white;" class="fa fa-pinterest"></i></a>


    </form>
    <small><a href="#">Follow us to get updates on <span class="text-info">Offers and Coupons</span></a></small>
    <div class="app mt-4 pt-2">
    <h6>Contact Us</h6>
    <a href="tel:07969662400">
        <span>07969662400 , </span>
    
        </a>
    <a href="tel:09753005007">
    <span>07752448276 , </span>
    </a>
    <a href="tel:07752448276">
    <span>09753005007</span>

    </a>
    </div>

    <div class="app mt-4 pt-2">
        <h6>DOWNLOAD APP</h6>
        <a href="https://play.google.com/store/apps/details?id=com.dealsaaj.user">
        <img class="img-fluid" src="/new_design/images/google.png">
        </a>
        <a href="#">
        <img class="img-fluid" src="/new_design/images/apple.png">
        </a>
        </div>
    </div>
    </div>
    </div>
    </section>
    <section class="footer-bottom-search bg-dark section-padding">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="search-links">
    <div class="content-wrapper">
    <div class="cat-links">
    <span class="cat-header">Hospitality</span>
    <a href="/hotels">  Hotels <span>|</span></a>
    <a href="/cafe">Café<span>|</span></a>
    <a href="/salon">  Salon <span>|</span></a>
    <a href="/clothing"> Clothing <span>|</span></a>
    <a href="/fast-food"> Fast food  <span>|</span></a>
    <a href="/cosmetics"> Cosmetics  </a>
    <a href="/grocery"> Grocery  </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">Health Care </span>
    <a href="/medical-shop"> Medical shop  <span>|</span></a>
    <a href="/hospitals"> Hospitals <span>|</span></a>
    <a href="#"> Clinics <span>|</span></a>
    <a href="#"> Path Labs <span>|</span></a>
   
    </div>
    <div class="cat-links">
    <span class="cat-header">Education </span>
    <a href="/school"> Schools <span>|</span></a>
    <a href="#"> Colleges <span>|</span></a>
    <a href="#"> Institutes <span>|</span></a>
    <a href="#"> Training <span>|</span></a>
    <a href="#"> Tutorials centres <span>|</span></a>
   
    </div>
    <div class="cat-links">
    <span class="cat-header">Retail</span>
    <a href="/grocery">  Grocery <span>|</span></a>
    <a href="/utensils"> Utensil <span>|</span></a>
    <a href="/furniture"> Furniture <span>|</span></a>
    <a href="/cosmetics"> Cosmetics<span>|</span></a>
    <a href="/footwear"> Footwear <span>|</span></a>
   
    </div>
    <!-- <div class="cat-links">
    <span class="cat-header">COMPUTERS, LAPTOPS &amp; GAMING</span>
    <a href="#samsung_eStore"> Samsung Coupons <span>|</span></a>
    <a href="#dell"> Dell India Coupons <span>|</span></a>
    <a href="#lenovo"> Lenovo Coupons <span>|</span></a>
    <a href="#hpshopping"> HP Official eStore Coupons </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">FOOD &amp; DINING</span>
    <a href="#pizzahut"> Pizza Hut Offers <span>|</span></a>
    <a href="#dominos"> Domino's Coupons <span>|</span></a>
    <a href="#mcdonalds"> McDonald's Coupons <span>|</span></a>
    <a href="#swiggy"> Swiggy Coupons <span>|</span></a>
    <a href="#kfc"> KFC Coupons <span>|</span></a>
    <a href="#zomato"> Zomato Coupons <span>|</span></a>
    <a href="#foodpanda"> Foodpanda Coupons </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">BEAUTY &amp; HEALTH</span>
    <a href="#medlife"> Medlife Coupons <span>|</span></a>
    <a href="#1mg"> 1MG Coupons <span>|</span></a>
    <a href="#netmeds"> Netmeds Coupons <span>|</span></a>
    <a href="#nykaa"> Nykaa Coupons <span>|</span></a>
    <a href="#apollopharmacy"> Apollo Pharmacy <span>|</span></a>
    <a href="#healthkart"> HealthKart Coupons <span>|</span></a>
    <a href="#pharmeasy"> PharmEasy Coupons </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">HOME FURNISHING &amp; DECOR</span>
    <a href="#pepperfry"> Pepperfry Coupons <span>|</span></a>
    <a href="#rentomojo"> Rentomojo Coupons <span>|</span></a>
    <a href="#urbanladder"> Urban Ladder Coupons <span>|</span></a>
    <a href="#homecentre"> Home Centre Coupons </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">FLOWERS, GIFTS &amp; JEWELLERY</span>
    <a href="#fnp"> Ferns N Petals Coupons <span>|</span></a>
    <a href="#indiangiftsportal"> Indian Gifts Portal Coupons <span>|</span></a>
    <a href="#archies"> Archies Coupons <span>|</span></a>
    <a href="#floweraura"> FlowerAura Coupons <span>|</span></a>
    <a href="#giftcart"> Giftcart </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">GROCERY</span>
    <a href="#bigbasket"> Bigbasket Coupons <span>|</span></a>
    <a href="#grofers"> Grofers Offers <span>|</span></a>
    <a href="#freshtohome"> FreshtoHome Coupons </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">SPECIAL COLLECTIONS</span>
    <a href="#exclusive-coupons-offers"> Exclusive Coupons and Offers <span>|</span></a>
    <a href="#top-offers"> Top Coupons and Offers <span>|</span></a>
    <a href="#buy-1-get-1-free-offers"> Buy 1 Get 1 Free <span>|</span></a>
    <a href="#summer-offers"> Summer <span>|</span></a>
    <a href="#GOT-merchandise-offers"> GOT Merchandise </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">WALLET OFFERS:</span>
    <a href="#amazon-pay-offers"> Amazon Pay <span>|</span></a>
    <a href="#amazon-pay-offers"> Paypal <span>|</span></a>
    <a href="#paytm-offers"> Paytm <span>|</span></a>
    <a href="#mobikwik-offers"> Mobikwik <span>|</span></a>
    <a href="#payzapp-offers"> PayZapp </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">BANK OFFERS</span>
    <a href="#hdfc-bank-offers"> HDFC Bank <span>|</span></a>
    <a href="#yes-bank-offers"> Yes Bank <span>|</span></a>
    <a href="#icici-bank-offers"> ICICI Bank <span>|</span></a>
    <a href="#sbi-bank-offers"> SBI Bank <span>|</span></a>
    <a href="#axis-bank-offers"> Axis Bank </a>
    </div>
    <div class="cat-links">
    <span class="cat-header">EVENT OFFERS</span>
    <a href="#valentines-day-offers"> Valentine's Day Offers <span>|</span></a>
    <a href="#christmas-offers"> Christmas Offers <span>|</span></a>
    <a href="#end-of-season-sale-offers"> End of Season Sale Coupons and Offers <span>|</span></a>
    <a href="#diwali-offers"> Diwali Coupons and Offers <span>|</span></a>
    <a href="#flipkart-big-billion-days-offers"> Flipkart Big Billion Days Coupons and Offers </a>
    </div> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="py-4">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="d-flex align-items-center justify-content-between small">
    <p class="m-0">Copyright © <span style="color:#722A74;font-weight: bold;">Deals</span><span style="color: #C03168;font-weight: bold;">Aaj</span> 2022</p>
    <p class="m-0">
    <a href="/about-us">About Us</a>
    &nbsp; · &nbsp;
    <a href="/privacy-policy">Privacy Policy</a>
    &nbsp; · &nbsp;
    <a href="/terms-and-conditions">Terms &amp; Conditions</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </section>
    <style>

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:117px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
    margin-left: -6px;
    margin-top: 7px;
}


    </style>
    <script src="/new_design/vendor/jquery/jquery.min.js" type="d31798a3900d399e25fbaabf-text/javascript"></script>
    <script src="/new_design/vendor/bootstrap/js/bootstrap.bundle.min.js" type="d31798a3900d399e25fbaabf-text/javascript"></script>
    
    <script src="/new_design/vendor/select2/js/select2.min.js" type="d31798a3900d399e25fbaabf-text/javascript"></script>
    
    <script src="/new_design/vendor/owl-carousel/owl.carousel.js" type="d31798a3900d399e25fbaabf-text/javascript"></script>
    
    <script src="/new_design/js/custom.js" type="d31798a3900d399e25fbaabf-text/javascript"></script>
    <script src="/new_design/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d31798a3900d399e25fbaabf-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6ef51e6b2eef71a2","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





    <!-- <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
        </a> -->





<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/624195870bfe3f4a8770081e/1fv8307gr';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->



</body>
    
    <!-- Mirrored from askbootstrap.com/preview/osahan-deel/demo3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 21 Mar 2022 07:54:41 GMT -->
    </html>
    