
<section class="footer section-padding" style="background-color: white;">
    <div class="container">
    <div class="row py-lg-4">
    <div class="col-xl-2 col-md-2 col-sm-2 col-12">
    <div class="footer-brand">
        <a href="/">
    <img class="img-fluid" src="https://dealsaaj.com/images/deal_logo.png">
    </a>
    </div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-3 col-6">
    <h6 class="text-gray-900">Segments</h6>
    <ul>
        <% const filteredData = result[0].filter(item => item.type == 'yes') %>

        <% for(i=0;i<filteredData.length;i++){%>

    <li><a href="/shop-by-category?categoryid=<%=filteredData[i].id%>"><%=filteredData[i].name%></a></li>

    <% } %>
    <li><a href="/exclusive-deals-and-offers">More Segments...</a></li>
   
    </ul>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-3 col-6">
    <h6 class="text-gray-900">SERVICES</h6>
    <ul>
    <li><a href="/exclusive-deals-and-offers">Exclusive Deals & Offers</a></li>
    <li><a href="/new-release">New Release</a></li>
    <li><a href="/channel-partner-login">Channel Partners</a></li>
    <li><a href="/agent-login">Agent Login</a></li>
    <li><a href="/vendor-login">Our Merchants</a></li>

    <li><a href="/disclaimer">Disclaimer</a></li>
    <li><a href="/customer-support">Customer Support</a></li>

    </ul>
    </div>
 
    <div class="col-xl-4 col-md-3 col-sm-3 col-12">
    <h6 class="text-gray-900">Follow us on Social Media</h6>
    <form class="form-inline newsletter-form mb-1">
        <i href="https://www.facebook.com/dealsaaj/" style="color: white;" class="fa fa-facebook"></i>
        <i href="https://www.instagram.com/dealsaaj/" style="color: white;" class="fa fa-instagram"></i>
        <i href="https://youtube.com/channel/UCpY9qRgvTV_cjRwakeetAMA" style="color: white;" class="fa fa-youtube"></i>
        <i href="https://twitter.com/dealsaaj?t=HhOUbgqR21PA0vCdfNATvA&s=08" style="color: white;" class="fa fa-twitter"></i>


 
    </form>

    <div class="app mt-4 pt-2">
    <h6 class="text-gray-900">DOWNLOAD APP</h6>
    <a href="https://play.google.com/store/apps/details?id=com.dealsaaj_tycoon.dealsaaj">
    <img class="img-fluid" src="/new_design/images/google.png">
    </a>
    <a href="#">
    <img class="img-fluid" src="/new_design/images/apple.png">
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section class="py-4 bg-white osahan-copyright">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="d-flex align-items-center justify-content-between">
    <p class="m-0 text-secondary">Copyright © <span style="color:#722A74;font-weight: bold;">Deals</span><span style="color: #C03168;font-weight: bold;">Aaj</span> 2022</p>
    <p class="m-0">
    <a href="/about-us" class="text-secondary">About Us</a>
    &nbsp; · &nbsp;
    <a href="/privacy-policy" class="text-secondary">Privacy Policy</a>
    &nbsp; · &nbsp;
    <a href="/terms-and-conditions" class="text-secondary">Terms &amp; Conditions</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    </section>


    

</div>

</div>

</div>



<a class="scroll-to-top rounded-circle" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
<button class="close" type="button" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
<div class="modal-footer">
<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
<a class="btn btn-primary" href="https://askbootstrap.com/item/osahan-grocery-bootstrap4-responsive-light-template/">Logout</a>
</div>
</div>
</div>
</div>

<script src="/new_design/vendor/jquery/jquery.min.js" type="057b91354703151087f54c15-text/javascript"></script>
<script src="/new_design/vendor/bootstrap/js/bootstrap.bundle.min.js" type="057b91354703151087f54c15-text/javascript"></script>

<script src="/new_design/vendor/jquery-easing/jquery.easing.min.js" type="057b91354703151087f54c15-text/javascript"></script>

<script src="/new_design/vendor/select2/js/select2.min.js" type="057b91354703151087f54c15-text/javascript"></script>

<script src="/new_design/vendor/owl-carousel/owl.carousel.js" type="057b91354703151087f54c15-text/javascript"></script>

<script src="/new_design/js/custom.js" type="057b91354703151087f54c15-text/javascript"></script>
<script src="/new_design/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="057b91354703151087f54c15-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6e7d93bcde028a20","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
