<!DOCTYPE html>

<html lang="zxx">




<head>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N43HN4X');</script>
    <!-- End Google Tag Manager -->




    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="">

    <meta name="description" content="">



    <title>LaunchPage - Creative Landing Page Template</title>

    

    <!-- Loading Bootstrap -->

    <link href="/Landing/css/bootstrap.min.css" rel="stylesheet">



    <!-- Loading Template CSS -->

    <link href="/Landing/css/style.css" rel="stylesheet">

    <link href="/Landing/css/animate.css" rel="stylesheet">

    <link rel="stylesheet" href="/Landing/css/pe-icon-7-stroke.css">

    <link href="/Landing/css/style-magnific-popup.css" rel="stylesheet">





    <!-- Awsome Fonts -->

    <link rel="stylesheet" href="/Landing/css/all.min.css">



    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&amp;display=swap" rel="stylesheet">



    <!-- Font Favicon -->

    <link rel="shortcut icon" href="/Landing/images/favicon.ico">

    

</head>



<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N43HN4X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!--begin header -->

    <header class="header">



        <!--begin navbar-fixed-top -->

        <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top" style=" background-color: transparent;">

            

            <!--begin container -->

            <div class="container" >



                    <!--begin logo -->

                    <a class="navbar-brand" href="#"><img src="/images/deal_logo.png" style="object-fit: contain;width:100%;height: 100px;"></a>

                    <!--end logo -->



            </div>

    		<!--end container -->

            

        </nav>

    	<!--end navbar-fixed-top -->

        

    </header>

    <!--end header -->



    <!--begin home section -->

    <section class="home-section" id="home">



        <div class="home-section-overlay"></div>



		<!--begin container -->

		<div class="container">



	        <!--begin row -->

	        <div class="row">

	          

                <!--begin col-md-6-->

                <div class="col-md-6 padding-top-120">



                    <h1>Ab har dukaan hogi online...</h1>



                    <p class="hero-text">Phalaye apna business pura india mai sirf ek click par</p>



                 

                </div>

                <!--end col-md-6-->



                <!--begin col-md-5-->

                <div class="col-md-5 offset-md-1 margin-top-20">



                    <!--begin register-form-wrapper-->

                    <div class="register-form-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">



                        <!-- <h3>Get Your Free 14-Day Trial</h3> -->






                        <!--begin form-->

                        <div>

                             

                            <!--begin success message -->

                            <p><%=msg%></p>

                            <!--end success message -->

                            

                            <!--begin register form -->

                            <form  class="register-form register" action="/enquiry-submit" method="post">

                                

                    

                                <input class="register-input name-input white-input" required="" name="name" placeholder="Full Name*" type="text">

                                <input class="register-input name-number white-input" required="" name="number" placeholder="Mobile Number*" type="number">

                            

                                <input class="register-input name-email white-input" required="" name="email" placeholder="Email Address*" type="email">

                                <input class="register-input name-location white-input" required="" name="location" placeholder="Location*" type="text">

                                <textarea style="background-color: #F9F9F9;color: black;" class="register-input name-email white-input" name="message" placeholder="Message (optional)"></textarea>




                            

                               

                                <input value="Submit" class="register-submit" type="submit">

                                    

                            </form>

                            <!--end register form -->




                            

                        </div>

                        <!--end form-->



                    </div>

                    <!--end register-form-wrapper-->



                </div>

                <!--end col-md-5-->



	        </div>

	        <!--end row -->



		</div>

		<!--end container -->



    </section>

    <!--end home section -->





    <!--begin section-grey -->

    <section class="section-grey" id="about">



        <!--begin container -->

        <div class="container">



            <!--begin row -->

            <div class="row">



                <!--begin col-md-12 -->

                <div class="col-md-12 text-center margin-bottom-10">



                    <h2 class="section-title">About us</h2>



                    <p class="section-subtitle">Dealsaaj is a team of 100+ energetic and experience team who makes it one of the fastest growing E-commerce platforms as well as in offline platform in the populous couponing space. With the offering of Exclusive and lightning deals we help our customers to get the best value for each penny spent and saving money while shopping.</p>

                    

                </div>

                <!--end col-md-12 -->



            </div>

            <!--end row -->



        </div>

        <!--end container -->



        <!--begin services-wrapper -->

        <div class="services-wrapper">



            <!--begin container -->

            <div class="container">



                <!--begin row -->

                <div class="row">



                    <!--begin col-md-4 -->

                    <div class="col-md-4">



                        <div class="main-services blue">



                            <i class="far fa-chart-bar"></i>



                            <h4>Why we</h4>



                            <p>We want to connect local sellers and buyers from across different parts of India, not just limited to their cities. We want to give them a platform where they can reach out to a large number of sellers, find the best-suited offer which can be redeemed at the counter or online.</p>

                            

                        </div>



                    </div>

                    <!--end col-md-4 -->



                    <!--begin col-md-4 -->

                    <div class="col-md-4">



                        <div class="main-services red">



                            <i class="far fa-heart"></i>



                            <h4>Who we are?</h4>



                            <p>Dealsaaz is an e-marketplace platform where local merchants and users can interact directly. Helping local merchants to boost their business online and offline thereby offering a platform where users can get the best nearby deal with one tap.</p>

                            

                        </div>



                    </div>

                    <!--end col-md-4 -->



                    <!--begin col-md-4 -->

                    <div class="col-md-4">



                        <div class="main-services green">



                            <i class="fas fa-anchor"></i>



                            <h4>Where we are</h4>



                            <p>We are currently present in Chhattisgarh, Madhya Pradesh, Bihar, Jharkhand, Uttar Pradesh & West Bengal. Soon we will be expanding to 500+ cities.</p>

                            

                        </div>



                    </div>

                    <!--end col-md-4 -->

               

                </div>

                <!--end row -->

                

            </div>

            <!--end container -->



        </div>

        <!--end services-wrapper -->



    </section>

    <!--end section-grey -->






    <!--begin footer -->

    <div class="footer">

            

        <!--begin container -->

        <div class="container">

        

            <!--begin row -->

            <div class="row">

            

                <!--begin col-md-5 -->

                <div class="col-md-5">

                   

                    <p>© 2022 <span style="color: #722A74;font-weight: bold;">Deals</span> <span style="color: #BC3069;font-weight: bold;">Aaj</span> Store. All Rights Reserved.

                    </p>

                    

                </div>

                <!--end col-md-5 -->

                

                <!--begin col-md-2 -->

                <div class="col-md-2"></div>

                <!--end col-md-2 -->

                

                <!--begin col-md-5 -->

                <div class="col-md-5">

                                         

                    <!--begin footer_social -->

                    <ul class="footer_social">



                        <li>Follw us:</li>



                        <li><a href="https://twitter.com/dealsaaj?t=HhOUbgqR21PA0vCdfNATvA&s=08"><i class="fab fa-twitter"></i></a></li>



                        <li><a href="https://youtube.com/channel/UCpY9qRgvTV_cjRwakeetAMA"><i class="fab fa-youtube" style="color: red;"></i></a></li>



                        <li><a href="https://www.facebook.com/dealsaaj/"><i class="fab fa-facebook-square"></i></a></li>



                        <li><a href="https://www.instagram.com/dealsaaj/"><i class="fab fa-instagram"></i></a></li>



                      



                    </ul>

                    <!--end footer_social -->

                    

                </div>

                <!--end col-md-5 -->

                

            </div>

            <!--end row -->



        </div>

        <!--end container -->

               

    </div>

    <!--end footer -->





<!-- Load JS here for greater good =============================-->

<script src="/Landing/js/jquery-3.3.1.min.js"></script>

<script src="/Landing/js/bootstrap.min.js"></script>

<script src="/Landing/js/jquery.scrollTo-min.js"></script>

<script src="/Landing/js/jquery.magnific-popup.min.js"></script>

<script src="/Landing/js/jquery.nav.js"></script>

<script src="/Landing/js/wow.js"></script>

<script src="/Landing/js/plugins.js"></script>

<script src="/Landing/js/custom.js"></script>





</body>


<!-- Mirrored from demo.epic-webdesign.com/tf-launchpage/v1/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Feb 2022 08:48:40 GMT -->
</html>