doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
<section class="section-padding homepage-great-deals bg-white">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="owl-carousel owl-theme owl-carousel-one homepage-great-deals-carousel">
        <!-- <div class="item">
            <div class="great-deals-sstore-banners">
            <a href="#"><img alt="placeholder image" src="/images/Comming_Soon.jpg" class="img-fluid rounded"></a>
            </div>
            </div> -->
        <div class="item">
    <div class="great-deals-sstore-banners">
    <a href="/segment/restaurants"><img alt="placeholder image" src="/resize_banner/Restaurants.jpg" class="img-fluid rounded"></a>
    </div>
    </div>
    <!-- <div class="item">
    <div class="great-deals-sstore-banners">
    <a href="shop-by-category?categoryid=64"><img alt="placeholder image" src="/resize_banner/Water-Park.png" class="img-fluid rounded"></a>
    </div>
    </div> -->
    </div>
    </div>
    </div>
    </div>
    </section>