


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:44:24 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>DealsAaj - Login</title>

<link rel="icon" type="image/png" href="/images/deal_logo.png">


<link rel="icon" type="image/png" href="/images/deal_logo.png">

<link href="/new_design/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/new_design/vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

<link href="/new_design/vendor/select2/css/select2-bootstrap.css" />
<link href="/new_design/vendor/select2/css/select2.min.css" rel="stylesheet" />

<link href="/new_design/css/style.css" rel="stylesheet">

<link href="/new_design/vendor/icofont/icofont.min.css" rel="stylesheet">

<link rel="stylesheet" href="/new_design/vendor/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/new_design/vendor/owl-carousel/owl.theme.css">

</head>
<body class="login-main-body bagl" style="background-image: url(/img/login.png); background-size: cover; background-position: center center" >
<section class="login-main-wrapper">
<div class="container-fluid pl-0 pr-0">
<div class="row no-gutters">
<div class="col-md-12 p-5  full-height vertical-center">
<div class="login-main-left  mt-5" style="background-color: white; border-radius: 8px; padding: 8px;">
<div class="text-center mb-5 login-main-left-header pt-0 mr-0">
<img src="/images/deal_logo.png" class="img-fluid w-70" alt="LOGO" style="width: 100px;height:100px;">
<h5 class="mt-3 mb-3">Welcome to DealsAaj</h5>
<br>
<span><b>User Login</b></span>
<p>Reach Repeat Redeem</p>
</div>
<form action="/login/verification" method="post">
<div class="form-group floating-label-form-group enter-value">
<label>Enter mobile number</label>
<input type="number" name="number" class="form-control" id="username" required>

</div>

<div class="mt-4">
<div class="row">

<div class="col-12">
<button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
</div>
</div>
</div>
</form>

</div>
</div>
</div>
</div>
</section>

<script src="/new_design/vendor/jquery/jquery.min.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>
<script src="/new_design/vendor/bootstrap/js/bootstrap.bundle.min.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>

<script src="/new_design/vendor/jquery-easing/jquery.easing.min.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>

<script src="/new_design/vendor/select2/js/select2.min.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>

<script src="/new_design/vendor/owl-carousel/owl.carousel.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>

<script src="/new_design/js/custom.js" type="1a020e402d7cfaa06ba075cb-text/javascript"></script>
<script src="/new_design/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="1a020e402d7cfaa06ba075cb-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6e7d941a49d589f6","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahan-deel/without-sidebar/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Mar 2022 19:44:24 GMT -->
</html>