
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <jsp:include page="head.jsp"/>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    </head>

    <body>
        <div class="page-wrapper">
            <!-- Start of Header -->
            <%- include ('./header.ejs') %>

            <!-- End of Header -->


            <!-- Start of Main -->
            <main class="main">
                <!-- Start of Page Header -->
                <div class="page-header">
                    <div class="container">
                        <h1 class="page-title mb-0">Telent Hunt</h1>
                    </div>
                </div>
                <!-- End of Page Header -->

                <!-- Start of Breadcrumb -->
                <nav class="breadcrumb-nav mb-6">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="demo1.jsp">Home</a></li>
                            <li><a href="telent_hunt.jsp">post</a></li>
                            <li><a href="your_comment.jsp">comments</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Breadcrumb -->

                <!-- Start of Page Content -->
                <section class="member-section mt-10 pt-9 mb-10 pb-4">
                    <div class="container">

                        <div class="owl-carousel owl-theme row cols-xl-4 cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                             'nav': false,
                             'dots': true,
                             'margin': 20,
                             'responsive': {
                             '0': {
                             'items': 1
                             },
                             '576': {
                             'items': 2
                             },
                             '768': {
                             'items': 3
                             },
                             '992': {
                             'items': 4
                             }
                             }
                             }">
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/4.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">John Doe</h4>
                                    <p class="text-uppercase">Founder &amp; CEO</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/5.jpg" alt="Member" width="295" height="332" />
                                   
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Jessica Doe</h4>
                                    <p class="text-uppercase">Marketing</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/6.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Rick Edward Doe</h4>
                                    <p class="text-uppercase">Developer</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/7.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                        
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Melinda Wolosky</h4>
                                    <p class="text-uppercase">Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme row cols-xl-4 cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                             'nav': false,
                             'dots': true,
                             'margin': 20,
                             'responsive': {
                             '0': {
                             'items': 1
                             },
                             '576': {
                             'items': 2
                             },
                             '768': {
                             'items': 3
                             },
                             '992': {
                             'items': 4
                             }
                             }
                             }">
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/4.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">John Doe</h4>
                                    <p class="text-uppercase">Founder &amp; CEO</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/5.jpg" alt="Member" width="295" height="332" />
                                   
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Jessica Doe</h4>
                                    <p class="text-uppercase">Marketing</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/6.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Rick Edward Doe</h4>
                                    <p class="text-uppercase">Developer</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/7.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                        
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Melinda Wolosky</h4>
                                    <p class="text-uppercase">Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme row cols-xl-4 cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                             'nav': false,
                             'dots': true,
                             'margin': 20,
                             'responsive': {
                             '0': {
                             'items': 1
                             },
                             '576': {
                             'items': 2
                             },
                             '768': {
                             'items': 3
                             },
                             '992': {
                             'items': 4
                             }
                             }
                             }">
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/4.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">John Doe</h4>
                                    <p class="text-uppercase">Founder &amp; CEO</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/5.jpg" alt="Member" width="295" height="332" />
                                   
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Jessica Doe</h4>
                                    <p class="text-uppercase">Marketing</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/6.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                       
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Rick Edward Doe</h4>
                                    <p class="text-uppercase">Developer</p>
                                </div>
                            </div>
                            <div class="member-wrap">
                                <figure class="br-lg">
                                    <img src="/wolmart/assets/images/pages/about_us/7.jpg" alt="Member" width="295" height="332" />
                                    <div class="overlay">
                                        
                                    </div>
                                </figure>
                                <div class="member-info text-center">
                                    <h4 class="member-name">Melinda Wolosky</h4>
                                    <p class="text-uppercase">Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End of Page Content -->
            </main>
            <script>
                document.getElementById("social_media1").style.display = 'none';
                function social_media() {
                    document.getElementById("social_media1").style.display = 'block';
                }
            </script>
            <!-- End of Main -->

            <%- include ('./footer.ejs') %>

        </div>

        <!-- Plugin JS File -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/wolmart/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/wolmart/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
        <script src="/wolmart/assets/vendor/sticky/sticky.min.js"></script>
        <script src="/wolmart/assets/js/main.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>



</html>
