
<%- include ('./otherheader.ejs') %>

<section class="inner-page-banner py-5 bg-gradient-primary">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h6 class="text-uppercase text-warning font-weight-normal mb-0"></h6>
<h1 class="text-white mb-3"><span class="font-weight-bold">Privacy</span> & Policy</h1>
</div>
</div>
</div>
</section>
</div>
<div class="section-padding">
<div class="container py-lg-4">
<div class="row">
<div class="col-md-8 mx-auto">
<div class="bg-white p-5 shadow-sm rounded">
<div id="intro" class="mb-4">
<div class="mb-3">
<h2 class="h5 text-primary">Introduction</h2>
</div>
<p>Here, the intention of making the privacy policy that the DEALSAAJ respect the privacy of the Customer. We, AFORMIT Industries Private Limited (CIN:  U74999CT2022PTC012830) a Company incorporated under the provisions of the Companies Act, 2013, having its registered office at, 1st Floor, ALS -4, Opposite Bhagwan Mangalam, Telephone Exchange Road, Bilaspur, Chhattisgarh- 495001(hereinafter referred to as the “DEALSAAJ” or “Us” or “We”). The domain name [www.dealsaaj.com] (“Website”), including the related mobile site, and mobile application (hereinafter referred to as “Dealsaaj Platform”) are formed by the DEALSAAJ to its customers and committed to protecting the data/information of its customer through its privacy policy.
</p>
<p>We built and strengthen our character, structure, reputation by presenting you with a privacy policy. Moreover, by accessing, browsing, or using the DEALSAAJ Services and/or registering for an account with the Dealsaaj platform, the users expressly undertake and agrees to be bound by the terms and conditions of this privacy policy and the users are consenting to the DEALSAAJ collection, using, maintenance, disclosure, and retention of the user’s personal information as described here.</p>
<p>The privacy policy of the DEALSAAJ will be amended from time to time, it is requested to its customers that the user check it periodically from time to time. It shall be deemed to understand the customer is agreed with the privacy policy if the user access or browse the website or Dealsaaj platform after the amendment of the website and Dealsaaj Platform.</p>
<p>We have implemented reasonable security practices and procedures that are commensurate with the information assets being protected and with the nature of our business. While we try our best to provide security that is commensurate with the industry standards, because of the inherent vulnerabilities of the internet, we cannot ensure or warrant the complete security of all information that is being transmitted to us by you.</p>
<p>This Privacy Policy has been designed and developed to help you understand the following:</p>
<ul class="text-secondary">
<li class="pb-2">Kind of data/Information the DEALSAAJ collects from the Users.</li>
<li class="pb-2">How we collect the data/information.
</li>
<li class="pb-2"> Usage of the data/ information collected from the user.</li>
<li class="pb-2">Sharing of the data/ information with the third-party service provider.</li>
<li class="pb-2">Retention of data.</li>
<li class="pb-2">Cookies .</li>
<li class="pb-2"> Permissible age.</li>
<li class="pb-2"> App Permission.</li>
<li class="pb-2"> Grievance policy.</li>
<li class="pb-2"> Changes to Privacy Policy.</li>
<li class="pb-2"> Governing Law & Jurisdiction.</li>
<li class="pb-2"> Contacts.</li>
</ul>
</div>
<div id="services" class="mb-4">
<div class="mb-3">
<h3 class="h5 text-primary">1. Kind of data/information we collect</h3>
</div>
<p>The DEALSAAJ may collect the following categories of data/Information from the Users/customers while registering for membership or creating an account with the Website or Dealsaaj Platform: -</p>
<div id="personal-data" class="mb-3 active">
<h4 class="h6 text-primary">A. Contact information: </h4>
<ul>
    <li> first and last name, </li>
    <li> email address,  </li>
    <li> postal address,  </li>
    <li> country,  </li>
    <li> phone number and  </li>
    <li> other similar contact data.</li>
</ul>
</div>
<div id="personal-data" class="mb-3 active">
    <h4 class="h6 text-primary">B. Financial information:  </h4>
    <ul>
        <li> payment instrument information, </li>
        <li> transaction history, </li>
        <li> preferences, method, </li>
        <li> mode and manner of payment, </li>
    </ul>
    </div>
    <div id="personal-data" class="mb-3 active">
        <h4 class="h6 text-primary">B. Financial information:  </h4>
        <ul>
            <li> payment instrument information, </li>
            <li> transaction history, </li>
            <li> preferences, method, </li>
            <li> mode and manner of payment, </li>
        </ul>
        </div>
        <div id="personal-data" class="mb-3 active">
            <h4 class="h6 text-primary">C.Technical information:</h4>
            <ul>
                <li> website, device and mobile app usage, </li>
                <li> Internet Protocol (IP) address and similar information collected via automated means, </li>
                <li> such as cookies, pixels, and similar technologies.</li>
            </ul>
            </div>
            <div id="personal-data" class="mb-3 active">
                <h4 class="h6 text-primary">D. Transaction information: </h4>
                <ul>
                    <li> the date of the transaction,</li>
                    <li> total amount, </li>
                    <li> transaction history and preferences and related details.</li>
                </ul>
                </div>
                <div id="personal-data" class="mb-3 active">
                    <h4 class="h6 text-primary">E.	Personal information: </h4>
                    <ul>
                        <li>Age,</li>
                        <li>Sex,</li>
                        <li>Date of birth,</li>
                        <li>Martial status,</li>
                        <li>Nationality,</li>
                        <li>Details of government identification documents provided, occupation, </li>
                        <li>religion, or </li>
                        <li>Any other personal information provided in responses to surveys or questionnaires.</li>
                    </ul>
                    </div>
                    <p><b> F. Your reviews, feedback, and opinions about our products, programs, and services.</b></p>
<div id="privacy" class="mb-4">
<div class="mb-3">
<h3 class="h5 text-primary">2. How we collect the data/information</h3>
</div>
<p>We may collect data by various modes, the modes are described below:-</p>
</div>
<div id="information" class="mb-3 active">
    <h4 class="h6 text-primary">A. Information provided by the User:-</h4>
    <p>The data/information provided by the user at the of registration or creation of an account, when the user attempt to do a survey of the Website or Dealsaaj platform, when the user elects to receive any communication from us, when the user permits us to use the camera, microphone, and phonebook/contact data at point when required  </p>
    </div>
<div id="information" class="mb-3 active" >
    <h4 class="h6 text-primary">B. Information/Data automatically collected:-</h4>
<p>We automatically collect some information when you visit our website or use our mobile application. This information helps us to make improvements to our content, preferences, and navigation.</p>
<p>
    
The DEALSAAJ may keep records of telephone calls received and made for making inquiries, orders, or other purposes for the purpose of administration of Services.

</p>
<p>
    The DEALSAAJ may also receive and/or hold information about the User’s browsing history including the URL of the site that the User visited prior to visiting the website as well as the Internet Protocol (IP) address of each User's computer/ Mobile device (or the proxy server a User used to access the World Wide Web), User's computer operating system or mobile devices and type of web browser the User is using as well as the name of User's ISP. The Website uses temporary cookies to store certain data that is used by the DEALSAAJ and its service providers for the technical administration of the Website, research and development, and User administration.
</p>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h4 class="h6 text-primary">C.	E-mail/ SMS Communications:-</h4>
    <p>For a better understanding of the choices and preferences of the user, we may communicate with the User with this mode also. </p>
    </div>
    </div>

<div id="yourContent" class="active">
<div class="mb-3">
<h3 class="h5 text-primary">3.	Usage of the data/ information collected from the user</h3>
<p>The DEALSAAJ will retain User Information only to the extent it is necessary to provide Services to the Users. The information which DEALSAAJ collects from you may be utilized for various business and/or regulatory purposes including for the following purposes:
    
    </p>
    <ol type="A">
        <li> For registration of the User on the Website or Dealsaaj Platform;</li>
        <li> Processing the User’s orders/requests and provision of Services (including the provision of safe Services);</li>
        <li> Completing transactions with Users effectively;</li>
        <li> Technical administration and customization of Website;</li>
        <li>Ensuring that the Website content is presented to the Users in an effective manner;</li>
        <li>Delivery of personalized information and target advertisements to the User;</li>
        <li>Improvement of Services, features and functionality of the Website;</li>
        <li>Research and development and for User administration (including conducting User surveys);</li>
        <li>Dealing with requests, enquiries, complaints or disputes and other customer care related activities including those arising out of the Users’ request of the Services and all other general administrative and business purposes;</li>
        <li>In case of any contests conducted by The DEALSAAJ in which the User participates, the User Information may be used for prize fulfillment and other aspects of any contest or similar offering;</li>
        <li>Communicate any changes in our Services or this Privacy Policy or the Terms of Use to the Users;</li>
        <li>Verification of identity of Users and perform checks to prevent frauds, illegal activities, security risk; and</li>
        <li>Investigating, enforcing, resolving disputes and applying our Terms of Use and Privacy Policy, either ourselves or through third party service providers.
        </li>
    </ol>
</div>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">4. Sharing of the data/ information with the third-party service provider</h3>
    <p>The DEALSAAJ may share or disclose data of the User’s, if required, to the third parties for the purposes mentioned in this Privacy Policy and the Terms of Use:</p>
     <ol type="A">
         <li>Limited accessibility of the user’s data to the Sellers and other service providers contacted by The DEALSAAJ for the purpose of carrying out services through the Website or Dealsaaj Platform under contract.</li>
         <li>With our affiliates, and subsidiaries (if any) who may use and disclose your information for the same purposes as us. </li>
         <li>To government institutions/authorities to the extent required a) under the laws, rules, and regulations and/or under orders of any relevant judicial or quasi-judicial authority; b) to protect and defend the rights or property of the DEALSAAJ; c) to fight fraud and credit risk; d) to enforce DEALSAAJ Terms of Use (to which this Privacy Policy is also a part); </li>
         <li>If otherwise required by an order under any law for the time being in force including in response to inquiries by government agencies for the purpose of verification of identity, or for prevention, detection, investigation including cyber incidents, prosecution, and punishment of offences.</li>
         <li>In case of contests conducted by the DEALSAAJ in which the User participates, the concerned User’s information may be disclosed to third parties, also be disclosed to third parties to the extent necessary for prize fulfillment and other aspects of such contest or similar offering.</li>
         <li>The DEALSAAJ makes all User Information accessible to its employees and data processors only on a need-to-know basis
        </li>
         <li>Non-personally identifiable information may be disclosed to third party ad servers, ad agencies, technology vendors and research firms to serve advertisements to the Users.</li>
     </ol>
</div>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        5.	Retention of Data
        </h3>
        <p>All the data/information collected/stored under this Privacy Policy and Terms of Use is maintained by the DEALSAAJ in electronic form on its equipment, and retained the data/ information as long as necessary for the use of our products and/or services or to provide access to and use of our website or mobile application, or for other essential purposes such as complying with our legal obligations, resolving disputes, enforcing our agreements and as long as processing and retaining your Data is necessary and is permitted by applicable law. </p>

</div>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        6.	Cookies
        </h3>
    <p>To optimize our Web presence, we use cookies. These are small text files stored on your computer’s main memory. These cookies are deleted after you close the browser. This allows us to improve your access to our website. This helps us to learn more about your interest, and provide you with essential features and services and for additional purposes, including, keeping track of items stored in your shopping basket, conducting to improve and diagnostics to improve the content, product, services, or preventing fraudulent activity, improving security. </p>
</div>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        7.	Permissible age
        </h3>
        <p>The DEALSAAJ website and mobile application offer products or services for the user /customers who are major (above 18 years) or competent to contract.  If you are under 18, you may use our website or mobile application only with the involvement of a parent or guardian.

        </p>
</div>
</div>

<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        
8.	App Permission

        </h3>
<p>The DEALSAAJ asks for the following app permissions while onboarding, in order to optimize the experience for the user such as location, camera, photos/media/files, SMS. 

</p>
</div>
</div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        9.	Grievance policy
        </h3>
       <p>If the user has any grievance related to terms of the privacy policy, he/she or any entity may write at provided website  <a href="https://dealsaaj.com">info@dealsaaj.com</a></p>
       <p>The DEALSAAJ will address the grievance or complaint within a time period of 30 days from the filing of the complaint or grievance. In such an event, the user agrees to provide complete support or provide related information as sought by the DEASLSAAJ. After analyzing the complaint, the DEALSAAJ will inform the user at his/her registered communication details.</p>
</div></div>
<div id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
    10.	Changes to Privacy Policy

        </h3>
        <p>The DEALSAAJ reserve the right to update (change, modify, add and/or delete) this Privacy Policy from time to time at its sole discretion.

        </p>
        <p>
            In the event there are significant changes in the privacy policy, the DEALSAAJ will display a notice on the website. If a User uses the Service after notice publication of notice on the Website, such User hereby provides his/ her/ its consent to the changed practices.  
        </p>
</div>
</div>
< id="yourContent" class="active">
    <div class="mb-3">
    <h3 class="h5 text-primary">
        11.	Contacts. </h3>
<p>
    You may contact us with any questions relating to this Privacy Policy by submitting your request on <a href="https://dealsaaj.com">info@dealsaaj.com</a>  or by postal mail at:
</p>
</div>
<h6 style="color: black;">
Registered office at:

</h6>
<p>1st Floor, ALS -4, Opposite Bhagwan Mangalam, Telephone Exchange Road, Bilaspur, Chhattisgarh- 495001</p>
<ul>
    <li>
        Use of the information
    </li>
        <li>Sharing of the information</li>
        <li>Third Party links and services</li>
        <li>Anonymous or de-identified data</li>
        <li>Cookies</li>
        <li>Security Precautions</li>
        <li>Permissible Age</li>
        <li>Data Retention</li>
        <li>Job Applicants</li>
        <li>Your Consent</li>
        <li>Changes to this Privacy policy</li>
        <li>Grievance Officer</li>
        <li>Contact us</li>
</ul>

</div>
</div>
</div>
</div>
</div>
<%- include ('./footer.ejs') %>
