<%- include ('./otherheader.ejs') %>


        <!-- Start of Main -->
        <main class="main login-page">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">My Account</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->
            <div class="page-content">
                <div class="container">
                    <div class="login-popup">
                        <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                            <ul class="nav nav-tabs text-uppercase" role="tablist">
                                <li class="nav-item">
                                    <a href="#sign-in" class="nav-link active">Sign In</a>
                                </li>
                              
                            </ul>
                            <div class="tab-content">
                                <form action="/login/verification" method="post">

                                <div class="tab-pane active" id="sign-in">
                                    <div class="form-group">
                                        <label>Enter Mobile Number</label>
                                        <input type="number" name="number" class="form-control" id="username" required>
                                    </div>
                                   
                                   
                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                    </form>
                                </div>
                                
                            </div>
                          
                         
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        <%- include ('./footer.ejs') %>
  