<%- include ('./otherheader.ejs') %>

        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Breadcrumb -->
           
            <!-- End of Breadcrumb -->

            <!-- Start of Page Content -->
            <div class="page-content error-404">
                <div class="container">
                    <div class="banner">
                        <figure>
                            <img src="https://cdn.dribbble.com/users/1489103/screenshots/6326497/no-data-found.png?compress=1&resize=800x600&vertical=top" alt="Error 404"  
                                width="820" height="460" />
                        </figure>
                        <div class="banner-content text-center">
                            <a href="/" class="btn btn-dark btn-rounded btn-icon-right">Go Back Home<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </main>
        <!-- End of Main -->

        <!-- Start of Footer -->
        <%- include ('./footer.ejs') %>
